<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <base href="http://localhost:8080/CINList" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CIN - Administration Equivalence FOP(67Ha)</title>
    <link rel="shortcut icon" href="assets/dist/img/favicon.png'" type="image/x-icon">
    <script src="assets/js/webfont.js"></script>
    <script>
        WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
    <!-- START GLOBAL MANDATORY STYLE -->
    <link href="assets/dist/css/base.css" rel="stylesheet" type="text/css">
    <!-- START PAGE LABEL PLUGINS -->

    <!-- START THEME LAYOUT STYLE -->
    <link href="assets/dist/css/style.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <title>Liste CIN</title>
</head>

<body class="hold-transition fixed sidebar-mini">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Site wrapper -->
    <!-- Content Wrapper. Contains page content -->
    <div th:replace="fragments/header :: header">Enregistrement</div>
    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="content-header">
                <div class="header-icon">
                    <i class="pe-7s-note2"></i>
                </div>
                <div class="header-title">
                    <h1>Enregistrement d'un CIN</h1>
                    <small></small>
                    <ol class="breadcrumb">
                        <li><a href="/homePage"><i class="pe-7s-home"></i> Accueil </a></li>
                        <li><a href="#">Enregistrement</a></li>
                        <li class="active">Ajout CIN</li>
                    </ol>
                </div>
            </div> <!-- /. Content Header (Page header) -->
            <div class="row">
                <div class="col-sm-10">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Liste des Demandes</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div th:if="${not #lists.isEmpty(listCIN)}">
                                <div th:switch="${deleteError}">
                                    <div th:case="'1'">
                                        <div class="alert alert-sm alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <i class="fa fa-exclamation-circle"></i><strong>Attention!</strong> Ce CIN
                                            est associ&eacute; &agrave; une demande!
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <input type="text" class="form-control input-sm m-b-15" id="filter" placeholder="Search in table">

                                    <table id="example1" class="footable table table-bordered table-hover toggle-arrow-tiny"
                                        data-page-size="8" data-filter=#filter>
                                        <thead>
                                            <tr>
                                                <th class="text-center">ID </th>
                                                <th class="text-center">Nom </th>
                                                <th class="text-center">Pr&eacute;nom </th>
                                                <th class="text-center">Date et lieu naissance</th>
                                                <th class="text-center">Num&eacute;ro CIN</th>
                                                <th class="text-center">Date et lieu de d&eacute;livrance </th>
                                                <th class="text-center">Fonction et lieu de travail </th>
                                                <th class="text-center">Mise &agrave; jour </th>
												 	
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="cin : ${listCIN}">
                                                <td class="text-center" th:text="${cin.id}"></td>
                                                <td class="text-center"><a th:href="'cin/show/'+${cin.id}" th:text="${cin.nom}"></a></td>
                                                <td class="text-center"><a th:href="'cin/show/'+${cin.id}" th:text="${cin.prenom}"></a></td>
                                                <td class="text-center"><a th:href="'cin/show/'+${cin.id}" th:text="${cin.dateNaissance}+' à '+${cin.lieuNaissance}"></a></td>
                                                <td class="text-center"><a th:href="'cin/show/'+${cin.id}" th:text="${cin.numeroCIN}"></a></td>
                                               	<td class="text-center"><a th:href="'cin/show/'+${cin.id}" th:text="${cin.dateDelivrance}+' à '+${cin.lieuDelivrance}"></a></td>
                                                <td class="text-center"><a th:href="'cin/show/'+${cin.id}" th:text="${cin.fonction}+' à '+${cin.lieuTravail}"></a></td>

                                                <td class="text-center">
                                                    <a th:href="'cin/edit/'+${cin.id}"><button class="btn btn-base btn-sm"
                                                            data-toggle="tooltip" data-placement="top" title="Update"><i
                                                                class="fa fa-pencil" aria-hidden="true"></i></button></a>
                                                    <!--<a th:href="'cin/delete/'+${cin.id}">--><button class="btn btn-danger btn-sm"
                                                        data-toggle="tooltip" data-placement="top" title="Delete "
                                                        th:onclick="|goToDelete('${cin.id}')|"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i></button><!-- </a> -->
                                                </td>
												 
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a href="/newCIN"><button type="button" class="btn btn-primary w-md m-rb-5">Nouveau</button></a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2018 The Static Templates</div>
    <script>
        function goToDelete(id) {
            var txt;
            var r = confirm("Cette action est irreversible! Etes-vous vraiment sûr de continuer?");
            if (r == true) {
                window.location.href = "/cin/delete/" + id;
            }

        }
    </script>
    <!-- ./²wrapper -->
    <!-- START CORE PLUGINS -->
    <script src="assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
    <script src="assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="assets/plugins/fastclick/fastclick.min.js"></script>
    <script src="assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="assets/plugins/lobipanel/lobipanel.min.js"></script>

    <!-- Footable Js -->
    <script src="assets/plugins/footable-bootstrap/js/footable.all.min.js"></script>
    <script src="assets/plugins/footable-bootstrap/js/footable-active.js"></script>
    <!-- START THEME LABEL SCRIPT -->
    <script src="assets/dist/js/theme.js"></script>
</body>

</html>