<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
 <meta charset="utf-8">
 <base href="http://localhost:8080/newCIN" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>CIN - Administration Equivalence FOP(67Ha)</title>
        <link rel="shortcut icon" href="assets/dist/img/favicon.png'" type="image/x-icon">
    	<script src="assets/js/webfont.js"></script>
        <script>
            WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
        <!-- START GLOBAL MANDATORY STYLE -->
        <link href="assets/dist/css/base.css"rel="stylesheet" type="text/css">
        <!-- START PAGE LABEL PLUGINS --> 

        <!-- START THEME LAYOUT STYLE -->
        <link href="assets/dist/css/style.css"rel="stylesheet" type="text/css"/>
     
<title><div th:text="${isEdit == 1} ? 'Modification' : 'Nouvelle'"></div> CIN</title>
</head>
<body class="hold-transition fixed sidebar-mini">
        
        <!-- Preloader -->
        <div class="preloader"></div>
        
        <!-- Site wrapper -->
        <!-- Content Wrapper. Contains page content -->
        <div th:replace="fragments/header :: header">Enregistrement</div>   
        <div class="content-wrapper">
                <!-- Main content -->
                <div class="content">
                    <div class="content-header">
                        <div class="header-icon">
                            <i class="pe-7s-note2"></i>
                        </div>
                        <div class="header-title">
                            <h1>Enregistrement d'un CIN</h1>
                            <small></small>
                            <ol class="breadcrumb">
                                <li><a href="/homePage"><i class="pe-7s-home"></i> Accueil </a></li>
                                <li ><a href="#">Enregistrement</a></li>
                                <li class="active"><span th:text="${isEdit == 1} ? 'Modification' : 'Nouvelle'"></span> CIN</li>
                            </ol>
                        </div>
                    </div> <!-- /. Content Header (Page header) -->
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="panel panel-bd lobidrag">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>Formulaire d'enregistrement CIN</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
                                            
                                            <form th:object="${cinForm}" th:action="${isEdit != 1} ? '/updatesCIN' : '/saveCIN'" th:method="PUT" class="f1">
                                                <h3 class="m-t-0">KARA-PANONDROM-PIRENENA</h3>
                                    
                                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-sm alert-danger alert-dismissible" role="alert">
	                                  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                                  	<i class="fa fa-exclamation-circle"></i><strong th:text="#{form.hasErrors}" >Error Message!!!</strong> 
	                              	</div>
                                                
                                                <p>Carte d'Identit&eacute; Nationale</p>
                                                <div class="f1-steps">
                                                    <div class="f1-progress">
                                                        <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3"></div>
                                                    </div>
                                                    <div class="f1-step active">
                                                        <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                                        <p>Information personnel</p>
                                                    </div>
                                                    <div class="f1-step">
                                                        <div class="f1-step-icon"><i class="fa fa-address-card"></i></div>
                                                        <p>Localisation</p>
                                                    </div>
                                                    <div class="f1-step">
                                                        <div class="f1-step-icon"><i class="fa fa-car"></i></div>
                                                        <p>Information travail</p>
                                                    </div>
                                                </div>
                                                <fieldset>
                                                    <h4 class="m-t-0">Veuillez informer les champs suivant:</h4>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="nom">Nom</label>
                                                        <input type="text" th:field="*{nom}" placeholder="ANARANA..." class="form-control" id="nom"  th:errorclass="has-error">
	                                                   		 <span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('nom')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="prenom">Pr&eacute;nom</label>
                                                        <input type="text" th:field="*{prenom}" placeholder="FANAMPIN'ANARANA..." class="form-control" id="prenom"  th:errorclass="has-error">
                                                    		 <span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('prenom')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="photo">Photo d'identit&eacute;</label>
                                                        <input type="file" th:field="*{photo}" class="form-control" id="photo" th:errorclass="has-error">
                                                    		 <span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('photo')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="dateNaissance">Date de naissance</label>
                                                        <input type="date"  th:field="*{dateNaissance}" placeholder="TERAKA TAMIN'NY..." class="form-control" id="dateNaissance" th:errorclass="has-error">
                                                    		 <span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('dateNaissance')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="lieuNaissance">&agrave;</label>
                                                        <input type="text" th:field="*{lieuNaissance}" placeholder="TAO..." class="form-control" id="lieuNaissance"  th:errorclass="has-error">
                                                    	 	<span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('lieuNaissance')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="f1-last-name">N° CIN</label>
                                                        <input type="text" th:field="*{numeroCIN}" placeholder="LAHARANA/N°:############" class="form-control" id="f1-last-name" th:errorclass="has-error">
                                                    	 	<span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('numeroCIN')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="f1-buttons">
                                                        <button type="button" class="btn btn-base btn-next">Suivant</button>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <h4>Info localisation:</h4>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="adresseActuelle">Adresse Actuelle</label>
                                                        <input type="text" th:field="*{adresseActuelle}" placeholder="FONENANA..." class="form-control" id="adresseActuelle" th:errorclass="has-error">
                                                    	 	<span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('adresseActuelle')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="dateDelivrance">Date de d&eacute;livrance</label>
                                                        <input type="date" th:field="*{dateDelivrance}" placeholder="NATAO TAMIN'NY..." class="form-control" id="dateDelivrance" th:errorclass="has-error">
                                                    	 	<span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('dateDelivrance')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="lieuDelivrance">Lieu de d&eacute;livrance</label>
                                                        <input type="text" th:field="*{lieuDelivrance}" placeholder="TAO..." class="form-control" id="lieuDelivrance" th:errorclass="has-error">
                                                    	 	<span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('lieuDelivrance')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="f1-buttons">
                                                        <button type="button" class="btn btn-previous">Pr&eacute;c&egrave;dent</button>
                                                        <button type="button" class="btn btn-base btn-next">Suivant</button>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <h4>Information travail:</h4>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="f1-facebook">Nationalit&eacute;</label>
                                                        <input type="text" th:field="*{nationalite}" placeholder="nationalite..." class="form-control" id="f1-facebook" th:errorclass="has-error">
                                                    	 	<span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('nationalite')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="f1-fonction">Fonction</label>
                                                        <input type="text" th:field="*{fonction}" placeholder="ASA ATAO..." class="form-control" id="f1-fonction" th:errorclass="has-error">
                                                    	 	<span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('fonction')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="f1-google-plus">Lieu de travail</label>
                                                        <input type="text" th:field="*{lieuTravail}" placeholder="AO AMIN'NY..." class="form-control" id="f1-google-plus" th:errorclass="has-error">
                                                    	 	<span class="help-block">
										                       <ul>
										                           <li th:each="err : ${#fields.errors('lieuTravail')}" th:text="${err}" />
										                       </ul>
										                    </span>
                                                    </div>
                                                    <div class="f1-buttons">
                                                        <button type="button" class="btn btn-previous">Pr&eacute;c&egrave;dent</button>
                                                        <button type="submit" class="btn btn-base btn-submit">Confirmer</button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-bd lobidrag">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>CIN enregist&eacute;s</h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                	<div th:if="${not #lists.isEmpty(listCIN)}">
	                            
                                    <div class="table-responsive">
                                        <input type="text" class="form-control input-sm m-b-15" id="filter" placeholder="Search in table">
                                        <table id="example1" class="footable table table-bordered toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                            <thead>
                                                <tr>
                                                   <th class="text-center">ID </th>
                                                   <th class="text-center">Num&eacute;ro CIN</th>
	                                               <th class="text-center">Nom </th>
	                                               <th class="text-center">Pr&eacute;nom </th>
	                                               <th class="text-center">Date et lieu naissance</th>	                
                                                   <th data-hide="all">Adresse</th>
                                                   <th data-hide="all">Date et lieu de d&eacute;livrance </th>
	                                               <th data-hide="all">Nationalit&eacute; </th>
	                                               <th data-hide="all">Fonction et lieu de travail </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="cin : ${listCIN}">
                                               	   <td th:text="${cin.id}"></td>
                                               	   <td><a th:href="'cin/show/'+${cin.id}" th:text="${cin.numeroCIN}"></a></td>
	                                               <td><a th:href="'cin/show/'+${cin.id}" th:text="${cin.nom}"></a></td>
	                                               <td><a th:href="'cin/show/'+${cin.id}" th:text="${cin.prenom}"></a></td>
	                                               <td><a th:href="'cin/show/'+${cin.id}" th:text="${cin.dateNaissance}+' à '+${cin.lieuNaissance}"></a></td>
	                                               <!-- DATA HIDE -->
	                                               <td><b><a th:href="'cin/show/'+${cin.id}" th:text="${cin.adresseActuelle}"></a></b></td>
	                                               <td><b><a th:href="'cin/show/'+${cin.id}" th:text="${cin.dateDelivrance}+' à '+${cin.lieuDelivrance}"></a></b></td>
	                                               <td><b><a th:href="'cin/show/'+${cin.id}" th:text="${cin.nationalite}"></a></b></td>
	                                               <td><b><a th:href="'cin/show/'+${cin.id}" th:text="${cin.fonction}+' à '+${cin.lieuTravail}"></a></b></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="6">
                                                        <ul class="pagination pull-right"></ul>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       	<div th:replace="fragments/footer :: footer">&copy; 2018 The Static Templates</div>
        
        <!-- ./²wrapper -->
        <!-- START CORE PLUGINS -->
        <script src="assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
        <script src="assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/fastclick/fastclick.min.js"></script>
        <script src="assets/plugins/metisMenu/metisMenu.min.js"></script>
        <script src="assets/plugins/lobipanel/lobipanel.min.js"></script>
        <!-- BootStrap WiZarD -->
        <script src="assets/plugins/bootstrap-wizard/jquery.backstretch.min.js"></script>
        <script src="assets/plugins/bootstrap-wizard/form.scripts.js"></script>
        <!-- Footable Js -->
        <script src="assets/plugins/footable-bootstrap/js/footable.all.min.js"></script>
        <script src="assets/plugins/footable-bootstrap/js/footable-active.js"></script>
        <!-- START THEME LABEL SCRIPT -->
        <script src="assets/dist/js/theme.js"></script>
	</body>
	
</html>