<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <base href="http://localhost:8080/newRequest" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Demande d'&eacute;quivalence - Administration Equivalence FOP(67Ha)</title>
    <link rel="shortcut icon" href="assets/dist/img/favicon.png'" type="image/x-icon">
    <script src="assets/js/webfont.js"></script>
    <script>
        WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
    <!-- START GLOBAL MANDATORY STYLE -->
    <link href="assets/dist/css/base.css" rel="stylesheet" type="text/css">
    <!-- START PAGE LABEL PLUGINS -->

    <!-- START PAGE LABEL PLUGINS -->
    <link href="assets/plugins/jquery.sumoselect/sumoselect.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <!-- START THEME LAYOUT STYLE -->
    <link href="assets/dist/css/component_ui.css" rel="stylesheet" type="text/css" />
    <link href="assets/dist/css/style.css" rel="stylesheet" type="text/css" />
    <!-- START PAGE LABEL PLUGINS -->
    <link href="assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.css" rel="stylesheet" type="text/css">
	
 	<script src="assets/plugins/jQuery/jquery-1.12.4.min.js"></script> 
   	<script src="assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"></script>
    
    <title>Nouvelle demande</title>
</head>

<body class="hold-transition fixed sidebar-mini">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Site wrapper -->
    <!-- Content Wrapper. Contains page content -->
    <div th:replace="fragments/header :: header">Static header</div>
    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="content-header">
                <div class="header-icon">
                    <i class="pe-7s-note2"></i>
                </div>
                <div class="header-title">
                    <h1>Enregistrement d'une demande d'&eacute;quivalence</h1>
                    <small></small>
                    <ol class="breadcrumb">
                        <li><a href="/homePage"><i class="pe-7s-home"></i> Accueil </a></li>
                        <li><a href="#">Enregistrement</a></li>
                        <li><a href="/requestList">Liste des demandes</a></li>
                        <li class="active">Ajout demande</li>
                    </ol>
                </div>
            </div> <!-- /. Content Header (Page header) -->
            <div class="row">
                <!-- Textual inputs -->
                <div class="col-sm-7">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Formulaire demande d'&eacute;quivalence</h4>
                            </div>
                        </div>

                        <div class="panel-body">
                            <form th:object="${ficheDemandeForm}" th:action="${isEdit == 1} ? @{/udpateRequest} : @{/saveRequest}"
                                th:method="${isEdit == 1} ? 'PUT' : 'POST'" class="f1">

                                <div th:if="${#fields.hasErrors('*')}" class="alert alert-sm alert-danger alert-dismissible"
                                    role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <i class="fa fa-exclamation-circle"></i><strong th:text="#{form.hasErrors}">Error
                                        Message!!!</strong>
                                </div>

                                <div class="form-group row">
                                    <div th:if="${not #lists.isEmpty(listCIN)}">
                                        <label class="col-sm-3 col-form-label">Veuillez selectionner un CIN</label>
                                        <div class="col-lg-6 col-md-9 col-sm-12">
                                            <select class="form-control basic-single" th:field="*{cin}">
                                                <div th:each="lieu : ${listLieuDelivrance}">
                                                    <optgroup th:label="'Délivrance à '+${lieu} + ' : '">
                                                        <div th:each="cins : ${listCIN}">
                                                            <div th:if="${lieu == cins.lieuDelivrance}">
                                                                <option th:value="${cins.id}" th:text="${cins.nom} + ' ' + ${cins.prenom} + ' (' + ${cins.lieuDelivrance} + ')' "></option>
                                                            </div>
                                                        </div>
                                                    </optgroup>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-form-label"><a href="/newCIN" data-toggle="tooltip"
                                            data-placement="right" title="Ajouter une nouvelle CIN"><i class="glyphicon glyphicon-plus"></i></a></div>
                                </div>
                                <div class="form-group row">
                                    <div th:if="${not #lists.isEmpty(listesDiplome)}">
                                        <label class="col-sm-3 col-form-label">Veuillez selectionner un dipl&ocirc;me
                                        </label>
                                        <div class="col-lg-6 col-md-9 col-sm-12">
                                            <select class="form-control basic-single" th:field="*{listesDiplome}">
                                                <div th:each="ecole : ${listEcole}">
                                                    <optgroup th:label="'Ecole délivreur '+${ecole} + ' : '">
                                                        <div th:each="diplome : ${listesDiplome}">
                                                            <div th:if="${ecole == diplome.ecole}">
                                                                <option th:value="${diplome.id}" th:text="${diplome.niveauDiplome.niveau} + ' EN ' + ${diplome.filiere} + ' option:' + ${diplome.option} + ' ('+ ${diplome.ecole} + ')'"></option>
                                                            </div>
                                                        </div>
                                                    </optgroup>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <label class="col-sm-3 col-form-label">Veuillez renseigner le dipl&ocirc;me</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12  class="autocomplete"">
                                        <input class="form-control" type="text" th:field="*{listesDiplome}" id="w-input-search" required>
                                    </div> -->
                                    <!-- <input type="text" id="w-input-search" th:field="*{listesDiplome}"> -->
                                    <div class="col-sm-1 col-form-label"><a href="/newDiplome" data-toggle="tooltip" data-placement="right" title="Ajouter une nouvelle Diplome"><i class="glyphicon glyphicon-plus"></i></a></div>
                                </div>
                                <div class="form-group row">
                                    <label for="telephone" class="col-sm-3 col-form-label">T&eacute;l&eacute;phone</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <input class="form-control" type="tel" th:field="*{telephone}" placeholder="+261(32|33|34|39) ### ##"
                                            id="telephone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="diplome" class="col-sm-3 col-form-label">D&eacute;signation
                                        dip&ocirc;me</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <input class="form-control" type="text" th:field="*{diplome}" placeholder="Diplôme evoqué..."
                                            id="diplome" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="utilisation" class="col-sm-3 col-form-label">Utilisation</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <input class="form-control" type="text" th:field="*{utilisation}" placeholder="Utilisation de l'équivalence..."
                                            id="utilisation" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="dateRetrait" class="col-sm-3 col-form-label">Date de retrait</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <input class="form-control" type="date" th:field="*{dateRetrait}" placeholder="Date de retrait" id="dateRetrait">
                                    </div>
                                </div>
                               

                                <button type="submit" class="btn btn-base pull-right">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Tous les CIN enregist&eacute;s</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div th:if="${not #lists.isEmpty(listeDemande)}">

                                <div class="table-responsive">
                                    <input type="text" class="form-control input-sm m-b-15" id="filter" placeholder="Search in table">
                                    <table id="example1" class="footable table table-bordered toggle-arrow-tiny"
                                        data-page-size="8" data-filter=#filter>
                                        <thead>
                                            <tr>
                                                <th>Num&eacute;ro /anne&eacute; </th>
                                                <th>Carte d'identit&eacute; </th>
                                                <th>Date de retrait </th>
                                                <th>Status d'enregistrement </th>

                                                <th data-hide="all">Dipl&ocirc;me associe (arr&ecirc;t&eacute;) :</th>
                                                <th data-hide="all">T&eacute;l&eacute;phone :</th>
                                                <th data-hide="all">Dipl&ocirc;me evoqu&eacute; :</th>
                                                <th data-hide="all">Utilisation :</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="demande : ${listeDemande}">
                                                <td th:text="${demande.id} + ' /' + ${demande.dateRetrait.getYear()}"></td>
                                                <td><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.cin.nom} + ' ' + ${demande.cin.prenom}"></a></td>
                                                <td><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.dateRetrait}"></a></td>
                                                <td><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.dateRetrait}"></a></td>

                                                <!-- DATA HIDE -->
                                                <td><b><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.listesDiplome.ecole} + ' | ' + ${demande.listesDiplome.niveauDiplome.niveau} + ' | ' + ${demande.listesDiplome.filiere}"></a></b></td>
                                                <td><b><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.telephone}"></a></b></td>
                                                <td><b><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.diplome}"></a></b></td>
                                                <td><b><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.utilisation}"></a></b></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2018 The Static Templates</div>
	<script>
	function autocomplete(inp, arr) {
		  /*the autocomplete function takes two arguments,
		  the text field element and an array of possible autocompleted values:*/
		  console.log("autocomplet : "+arr);
		  var currentFocus;
		  /*execute a function when someone writes in the text field:*/
		  inp.addEventListener("input", function(e) {
		      var a, b, i, val = this.value;
		      /*close any already open lists of autocompleted values*/
		      closeAllLists();
		      if (!val) { return false;}
		      currentFocus = -1;
		      /*create a DIV element that will contain the items (values):*/
		      a = document.createElement("DIV");
		      a.setAttribute("id", this.id + "autocomplete-list");
		      a.setAttribute("class", "autocomplete-items");
		      /*append the DIV element as a child of the autocomplete container:*/
		      this.parentNode.appendChild(a);
		      /*for each item in the array...*/
		      for (i = 0; i < arr.length; i++) {
		        /*check if the item starts with the same letters as the text field value:*/
		        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
		          /*create a DIV element for each matching element:*/
		          b = document.createElement("DIV");
		          /*make the matching letters bold:*/
		          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
		          b.innerHTML += arr[i].substr(val.length);
		          /*insert a input field that will hold the current array item's value:*/
		          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
		          /*execute a function when someone clicks on the item value (DIV element):*/
		              b.addEventListener("click", function(e) {
		              /*insert the value for the autocomplete text field:*/
		              inp.value = this.getElementsByTagName("input")[0].value;
		              /*close the list of autocompleted values,
		              (or any other open lists of autocompleted values:*/
		              closeAllLists();
		          });
		          a.appendChild(b);
		        }
		      }
		  });
		  /*execute a function presses a key on the keyboard:*/
		  inp.addEventListener("keydown", function(e) {
		      var x = document.getElementById(this.id + "autocomplete-list");
		      if (x) x = x.getElementsByTagName("div");
		      if (e.keyCode == 40) {
		        /*If the arrow DOWN key is pressed,
		        increase the currentFocus variable:*/
		        currentFocus++;
		        /*and and make the current item more visible:*/
		        addActive(x);
		      } else if (e.keyCode == 38) { //up
		        /*If the arrow UP key is pressed,
		        decrease the currentFocus variable:*/
		        currentFocus--;
		        /*and and make the current item more visible:*/
		        addActive(x);
		      } else if (e.keyCode == 13) {
		        /*If the ENTER key is pressed, prevent the form from being submitted,*/
		        e.preventDefault();
		        if (currentFocus > -1) {
		          /*and simulate a click on the "active" item:*/
		          if (x) x[currentFocus].click();
		        }
		      }
		  });
		  function addActive(x) {
		    /*a function to classify an item as "active":*/
		    if (!x) return false;
		    /*start by removing the "active" class on all items:*/
		    removeActive(x);
		    if (currentFocus >= x.length) currentFocus = 0;
		    if (currentFocus < 0) currentFocus = (x.length - 1);
		    /*add class "autocomplete-active":*/
		    x[currentFocus].classList.add("autocomplete-active");
		  }
		  function removeActive(x) {
		    /*a function to remove the "active" class from all autocomplete items:*/
		    for (var i = 0; i < x.length; i++) {
		      x[i].classList.remove("autocomplete-active");
		    }
		  }
		  function closeAllLists(elmnt) {
		    /*close all autocomplete lists in the document,
		    except the one passed as an argument:*/
		    var x = document.getElementsByClassName("autocomplete-items");
		    for (var i = 0; i < x.length; i++) {
		      if (elmnt != x[i] && elmnt != inp) {
		      x[i].parentNode.removeChild(x[i]);
		    }
		  }
		}
		/*execute a function when someone clicks in the document:*/
		document.addEventListener("click", function (e) {
		    closeAllLists(e.target);
		});
		}
	</script>
    <!-- ./²wrapper -->
    <!-- START CORE PLUGINS -->
    <script>
    	
		/*$(function() {
			 $("#w-input-search").autocomplete({
				source : function(request, response) { 
					$.ajax({
						type: "GET",
						url : 'http://localhost:8080/getTags',
						dataType : "json",
						data : {
							tagName : request.term
						},
						success : function(data) {
							window.test = data;
							//autocomplete(document.getElementById("w-input-search"), data);
							// alert(data); 
							/*console.log("window.test = " );
							 
							return response(data);
							 
						}
					});
					return {      	
						  //must convert json to javascript object before process
						  suggestions: $.map($.parseJSON(window.test), function(item) {
						       return { value: item.tagName, data: item.id };
						   })
						            
						 };  
				},
				minLength : 2
				
			});
		});*/
	</script>
   
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="assets/plugins/fastclick/fastclick.min.js"></script>
    <script src="assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="assets/plugins/lobipanel/lobipanel.min.js"></script>
    <!-- Select2 Js -->
    <script src="assets/plugins/select2/select2.min.js"></script>
    <script src="assets/plugins/select2/select2-active.js"></script>
    <!-- icheck Js -->
    <script src="assets/plugins/icheck/icheck.min.js"></script>
    <script src="assets/plugins/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="assets/plugins/icheck/icheck-active.js"></script>
    <!-- Footable Js -->
    <script src="assets/plugins/footable-bootstrap/js/footable.all.min.js"></script>
    <script src="assets/plugins/footable-bootstrap/js/footable-active.js"></script>
    <!-- START THEME LABEL SCRIPT -->
    <script src="assets/dist/js/theme.js"></script>
</body>

</html>