<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <base href="http://localhost:8080/newRequest" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Demande d'&eacute;quivalence - Administration Equivalence FOP(67Ha)</title>
    <link rel="shortcut icon" href="assets/dist/img/favicon.png'" type="image/x-icon">
    <script src="assets/js/webfont.js"></script>
    <script>
        WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
    <!-- START GLOBAL MANDATORY STYLE -->
    <link href="assets/dist/css/base.css" rel="stylesheet" type="text/css">
    <!-- START PAGE LABEL PLUGINS -->

    <!-- START PAGE LABEL PLUGINS -->
    <link href="assets/plugins/jquery.sumoselect/sumoselect.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <!-- START THEME LAYOUT STYLE -->
    <link href="assets/dist/css/component_ui.css" rel="stylesheet" type="text/css" />
    <link href="assets/dist/css/style.css" rel="stylesheet" type="text/css" />
    
    
    <!-- START PAGE LABEL PLUGINS --> 
    <link href="assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css"/>
    <!-- START PAGE LABEL PLUGINS -->
      <!-- START PAGE LABEL PLUGINS --> 
        <link href="assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css">
        <link href="assets/plugins/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">

     
    <title>Nouvelle demande</title>
</head>

<body class="hold-transition fixed sidebar-mini">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Site wrapper -->
    <!-- Content Wrapper. Contains page content -->
    <div th:replace="fragments/header :: header">Static header</div>
    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="content-header">
                <div class="header-icon">
                    <i class="pe-7s-note2"></i>
                </div>
                <div class="header-title">
                    <h1>Enregistrement d'une demande d'&eacute;quivalence</h1>
                    <small></small>
                    <ol class="breadcrumb">
                        <li><a href="/homePage"><i class="pe-7s-home"></i> Accueil </a></li>
                        <li><a href="#">Enregistrement</a></li>
                        <li><a href="/requestList">Liste des demandes</a></li>
                        <li class="active">Ajout demande</li>
                    </ol>
                </div>
            </div> <!-- /. Content Header (Page header) -->
            <div class="row">
                <!-- Textual inputs -->
                <div class="col-sm-7">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Formulaire demande d'&eacute;quivalence</h4>
                            </div>
                        </div>

                        <div class="panel-body">
                        	<div th:if="${isDuplicated!=null}">
                                  <div class="alert alert-sm alert-warning alert-dismissible" role="alert">
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <i class="fa fa-exclamation-circle"></i><strong>Attention : </strong>
                                     Une demande de cette équivalence est déjà en cours. <a th:href="'/showRequest/'+${isDuplicated.id}" >Voir la demande (<span th:text="'N°'+${isDuplicated.id}"></span>) date de retrait <span th:text="'N°'+${isDuplicated.dateRetrait}"></span></a> 
                                 </div>
                             </div>
                       		 <div th:if="${needProm!=null && proms!=null}">
                                 <div class="alert alert-sm alert-warning alert-dismissible" role="alert">
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <i class="fa fa-exclamation-circle"></i><strong>Attention : </strong>
                                     La carte d'identité <a th:href="'/cin/show/' + ${needProm.id}" th:text="'N° '+ ${needProm.id} +' au nom de : '+ ${needProm.nom} + ' ' + ${needProm.prenom} " ></a> doit fournir une liste de promotion (<a th:href="'/showPromoDetail/' + ${proms.sessionSortie} + '/' + ${proms.listesDiplome.id}" th:text="'cliquez ici'"></a> pour joindre une liste).  
                                 </div>
                             </div>
                             <div th:if="${needProm!=null && sessionDeb!=null && proms==null}">
                                 <div class="alert alert-sm alert-warning alert-dismissible" role="alert">
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <i class="fa fa-exclamation-circle"></i><strong>Attention : </strong>
                                     La liste des promotion de : <b th:text="${ecole}"></b> session: <span th:text="${sessionDeb}"></span> n'est pas encore dans la base de donnée.(<a th:href="'/listProm'" th:text="'cliquez ici'"></a> pour ajouter la Promotion)  
                                 </div>
                             </div>
                            <form th:object="${ficheDemandeForm}" th:action=" @{/saveRequest}" method="post" class="f1">

                                <div th:if="${#fields.hasErrors('*')}" class="alert alert-sm alert-danger alert-dismissible"
                                    role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <i class="fa fa-exclamation-circle"></i><strong th:text="#{form.hasErrors}">Error
                                        Message!!!</strong>
                                </div>
                                <input type="hidden" th:field="*{id}" />
                                <div class="form-group row"> 
                                     <label class="col-sm-3 col-form-label">Veuillez choisir un CIN</label>
                                     <div class="col-lg-6 col-md-9 col-sm-12">
                                     	<div class="input-group">
                                     	   <input type="text" id="cinHidden" name="cin" hidden>
                                           <input type="text" class="form-control" id="cinChamp" autocomplete="off" placeholder="Carte d'identité..." data-toggle="modal" data-target="#searchCINModal">
                                           <span class="input-group-btn">
                                               <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchCINModal">Choisir</button>
                                           </span>
                                       	</div><!-- /input-group -->
                                     </div>   
                                </div>
                                <div class="form-group row"> 
                                    <label class="col-sm-3 col-form-label">Veuillez choisir le dipl&ocirc;me</label>
                                     <div class="col-lg-6 col-md-9 col-sm-12">
                                     	<div class="input-group">
                                     	   <input type="text" id="idCinTemp"  name="idCinTemp" hidden>
                                     	   <input type="text" id="listeDiplomeHidden"  name="listeDiplome" hidden>
                                           <input type="text" class="form-control" id="listeDiplomeChamp" autocomplete="off" placeholder="Diplôme demandé..." data-toggle="modal" data-target="#searchlisteDiplomeModal">
                                           <span class="input-group-btn">
                                               <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchlisteDiplomeModal">Choisir</button>
                                           </span>
                                       	</div><!-- /input-group -->
                                     </div>  
                                </div>
                                <div class="form-group row">
                                    <label for="telephone" class="col-sm-3 col-form-label">T&eacute;l&eacute;phone</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <input class="form-control" type="tel" th:field="*{telephone}" placeholder="+261(32|33|34|39) ### ##"
                                            id="telephone" aria-describedby="fileHelpTel">
                                        <small id="fileHelpTel" class="text-muted ">ex: 033 00 000 01</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="diplome" class="col-sm-3 col-form-label">D&eacute;signation du dip&ocirc;me</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <input class="form-control" type="text" th:field="*{diplome}" placeholder="Diplôme evoqué..."
                                            id="diplome" required>
                                    </div>
                                </div>
                                 
                                <div class="form-group row">
                                    <label for="utilisation" class="col-sm-3 col-form-label">Utilisation</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <input class="form-control" type="text" th:field="*{utilisation}" placeholder="Utilisation de l'équivalence..."
                                            id="utilisation" required aria-describedby="fileHelpUtil">
                                        <small id="fileHelpUtil" class="text-muted ">ex: Complements de dossier</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="dateRetrait" class="col-sm-3 col-form-label">Date de retrait</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <input class="form-control" type="date" th:field="*{dateRetrait}" placeholder="Date de retrait" id="dateRetrait">
                                    </div>
                                    <small id="fileHelpUtil" class="text-muted ">(Astuce: <span class="text-purple">Plus ou moins une semaine apr&eacute; la demande.</span>)</small>
                                </div>
                                
                               	<hr/>
                               	<!-- INFORMATION DIPLOME DEMANDE --> 
                                <div th:object="${ficheDemandeDetailForm}">
	                               
	                                <div class="form-group row">
	                                    <label for="anneeDeb" class="col-sm-3 col-form-label">Anne&eacute; scolaire (session):</label>
	                                    <div class="col-lg-3">
	                                        <input id="anneeDeb" th:onchange="|changeAnneeFin()|" type="number" min="1950" max="2020" value="" th:field="*{anneeDeb}" class="form-control" placeholder="####" aria-describedby="fileHelp2">
	                                    	<small id="fileHelp2" class="text-muted">Ceci vas servir &agrave; la v&eacute;rification de la conformit&eacute;s du dipl&ocirc;me.</small>
	                                    </div>
	                                     
	                                    <label for="anneeFin" class="col-sm-1 col-form-label">jusqu'au </label>
	                                   
	                                    <div class="col-lg-3">
	                                         <input id="anneeFin" disabled  th:field="*{anneeFin}" placeholder="####"  class="form-control">
	                                    </div>
	                                    
	                                </div>
	                                <!-- <div class="form-group row">
	                                    <label class="col-sm-3 col-form-label">Mention obtenu</label>
	                                    <div class="col-lg-6 col-md-9 col-sm-12">
	                                        <select class="form-control " th:field="*{mention}"  aria-describedby="fileHelp1">
	                                            <div th:each="mention : ${mentions}">
	                                                <option th:value="${mention}" th:text="${mention}"></option>
	                                            </div>
	                                        </select>
	                                    </div>
	                                    <small id="fileHelp1" class="text-muted">Ceci sera v&eacute;rifier dans la liste des promotions.</small>
	                                
	                                </div>  --> 
                               	</div>

                                <button type="submit" class="btn btn-base pull-right">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Tous les CIN enregist&eacute;s</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div th:if="${not #lists.isEmpty(listeDemande)}">

                                <div class="table-responsive">
                                    <input type="text" class="form-control input-sm m-b-15" id="filter" placeholder="Search in table">
                                    <table id="example1" class="footable table table-bordered toggle-arrow-tiny"
                                        data-page-size="8" data-filter=#filter>
                                        <thead>
                                            <tr>
                                                <th class="text-center">Num&eacute;ro /anne&eacute; </th>
                                                <th class="text-center">Date de retrait </th>
                                                <th class="text-center">Carte d'identit&eacute; </th>
                                              	<th class="text-center">Dipl&ocirc;me associe (arr&ecirc;t&eacute;) :</th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="demande : ${listeDemande}">
                                                <td th:text="${demande.id} + ' /' + ${demande.dateRetrait.getYear()-100}"></td>
                                                <td><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.cin.nom} + ' ' + ${demande.cin.prenom}"></a></td>
                                                <td><a th:href="'/showRequest/'+${demande.id}" th:text="${#dates.format(demande.dateRetrait, 'dd-MM-yyyy')}"></a></td>
                                                <td><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.listesDiplome.ecole} + ' | ' + ${demande.listesDiplome.niveauDiplome.niveau} + ' | ' + ${demande.listesDiplome.filiere}"></a></td>
                                       		</tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                	<label class="col-md-4">Pagination :</label>
                                	<div class="btn-toolbar col-md-8" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group" role="group" aria-label="First group">
                                            <span th:each=" page : ${nombrePagination}"><a th:href="'/newRequest/page-'+${page}" type="button" class="btn btn-default" th:text="${page}"></a></span>
                                        </div>
                                    </div>
                                </div> 
                             </div>
                        </div>
                    </div>
                </div>
                 
                <!-- MODALS DIALOG -->
                <div class="modal fade" id="searchCINModal" tabindex="-1" role="dialog">	
	                <div class="modal-dialog" role="document">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
	                                    aria-hidden="true">&times;</span></button>
	                            <h1 class="modal-title">Rechercher Carte d'identit&eacute; </h1>
	                        </div>
	                        <!-- <form th:action="@{/searchCIN}" method="GET"> -->
	                        <ul class="nav nav-tabs tabs-top">
	                        	<li><a href="#searchCIN1" data-toggle="tab"><i class="fa fa-search"></i> Recherche simple</a></li>
	                        	<li><a href="#searchCIN2" data-toggle="tab"><i class="fa fa-search-plus"></i> Recherche Avanc&eacute;e</a></li>
		                    </ul>   
	                            <div class="modal-body  tab-content">   
	                                <div class="tab-pane fade in active" id="searchCIN1">
		                                <div class="form-group row">
		                                    <div class="col-sm-12">
		                                    	<div class="col-md-3">
		                                    		<label for="example-text-input" class=" col-form-label">Champ de recherche :</label>
		                                    	</div>
		                                    	<div class="col-md-6" >
		                                        	<input class="form-control" id="cin" type="text" placeholder="Rechercher d'une CIN ...">
		                                        </div>
		                                        <div class="col-md-3">
		                                        	<button class="btn btn-base " th:onclick="|searchCIN()|" > RECHERCHE</button>
		                                    	</div>
		                                    </div>
	                                    </div>
                                    </div>
                                  	<div class="tab-pane fade" id="searchCIN2">
	                                  	<div class="form-group row">  
		                                    <div class="col-sm-12">
		                                    	<h5>Recherche par crit&egrave;re :</h5> 
		                                        <div class="form-group row">
				                                    <label for="nom" class="col-md-2 col-form-label">Nom </label>
				                                    <div class="col-md-4">
				                                        <input class="form-control" type="text" th:name="'nom'" placeholder=" " id="nom">
				                                    </div>
				                                    <label for="prenom" class="col-md-2 col-form-label">Pr&egrave;nom </label>
				                                    <div class="col-md-4 ">
				                                        <input class="form-control" type="text" th:name="'prenom'" placeholder=" " id="prenom">
				                                    </div>
				                                </div> 
				                                <div class="form-group row">
				                                    <label for="numeroCIN" class="col-sm-2 col-form-label">N° carte d'identtit&eacute; </label>
				                                    <div class="col-md-6 col-md-offset-1">
				                                        <input class="form-control" type="number" th:name="'numeroCIN'" placeholder=" " id="numeroCIN" aria-describedby="fileHelpCIN">
				                                    	<small id="fileHelpCIN" class="text-muted ">ex: 117 225 123 000</small>
		                                    		</div>
				                                </div>
				                                <div class="form-group row">
				                                    <label for="adresseActuelle" class="col-sm-2 col-form-label">Adresse postale </label>
				                                    <div class="col-md-6 col-md-offset-1">
				                                        <input class="form-control" type="text" th:name="'adresseActuelle'" placeholder=" " id="adresseActuelle">
				                                    </div>
				                                </div> 
				                                <div class="form-group row">
				                                    <label for="fonction" class="col-md-2 col-form-label">Fonction et lieu de travail </label>
				                                    <div class="col-md-4">
				                                        <input class="form-control" type="text" th:name="'fonction'" placeholder=" " id="fonction">
				                                    </div>
				                                    <label for="lieuTravail" class="col-md-2 col-form-label"> chez </label>
				                                    <div class="col-md-4 ">
				                                        <input class="form-control" type="text" th:name="'lieuTravail'" placeholder=" " id="lieuTravail">
				                                    </div>
				                                </div> 
		                                        <div class="col-md-6 col-md-offset-5">
		                                        	<button class="btn btn-base " th:onclick="|searchCritereCIN()|" >RECHERCHE</button>
		                                    	</div>
		                                    </div>
	                                    </div>
                                    </div>
                                    <div class="form-group row">
	                                    <div class="skin-flat">
	                                    	<div id="outputCIN" class="row"></div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="modal-footer">
	                                <button  class="btn btn-base" data-dismiss="modal" >Ok</button>
	                                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
	                            </div>
	                        <!-- </form> -->
	                    </div><!-- /.modal-content -->
	                </div><!-- /.modal-dialog -->
	            </div><!-- /.modal -->
	            
	            
	            <!-- MODALS DIALOG -->
	            <div class="modal fade" id="searchlisteDiplomeModal" tabindex="-1" role="dialog">	
	                <div class="modal-dialog" role="document">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
	                                    aria-hidden="true">&times;</span></button>
	                            <h1 class="modal-title">Rechercher dipl&ocirc;me </h1>
	                        </div>
	                        <!-- <form th:action="@{/searchCIN}" method="GET"> -->
	                        <ul class="nav nav-tabs tabs-top">
	                        	<li><a href="#search1" data-toggle="tab"><i class="fa fa-search"></i> Recherche simple</a></li>
	                        	<li><a href="#search2" data-toggle="tab"><i class="fa fa-search-plus"></i> Recherche Avanc&eacute;e</a></li>
		                    </ul>   
	                            <div class="modal-body  tab-content">   
	                                <div class="tab-pane fade in active" id="search1">
		                                <div class="form-group row">
		                                    <div class="col-sm-12">
		                                    	<div class="col-md-3">
		                                    		<label for="example-text-input" class=" col-form-label">Champ de recherche :</label>
		                                    	</div>
		                                    	<div class="col-md-6" >
		                                        	<input class="form-control" id="listeDiplome" type="text" placeholder="Rechercher Diplôme ...">
		                                        </div>
		                                        <div class="col-md-3">
		                                        	<button class="btn btn-base " th:onclick="|searchListeDiplome()|" > RECHERCHE</button>
		                                    	</div>
		                                    </div>
	                                    </div>
                                    </div> 
                                  	<div class="tab-pane fade" id="search2">
	                                  	<div class="form-group row">  
		                                    <div class="col-sm-12">
		                                    	<h5>Recherche par crit&egrave;re :</h5> 
		                                        <div class="form-group row">
				                                    <label for="dateRetrait" class="col-sm-2 col-form-label">Ecole </label>
				                                    <div class="col-md-8 col-md-offset-1">
				                                        <input class="form-control" type="text" th:name="'ecole'" placeholder=" " id="ecole">
				                                    </div>
				                                </div>
				                                <div class="form-group row">
				                                    <label for="dateRetrait" class="col-sm-2 col-form-label">Fili&egrave;re </label>
				                                    <div class="col-md-8 col-md-offset-1">
				                                        <input class="form-control" type="text" th:name="'filiere'" placeholder=" " id="filiere">
				                                    </div>
				                                </div>
				                                <div class="form-group row">
				                                    <label for="dateRetrait" class="col-sm-2 col-form-label">Option </label>
				                                    <div class="col-md-8 col-md-offset-1">
				                                        <input class="form-control" type="text" th:name="'option'" placeholder=" " id="option">
				                                    </div>
				                                </div>
				                                <div class="form-group row">
								                    <div th:if="${not #lists.isEmpty(listNiveauDiploma)}" >
								                    	<label for="dateRetrait" class="col-sm-2 col-form-label">Niveau </label>
				                                      	<div class="col-md-8 col-md-offset-1">
								                             <select class="form-control" th:name="'niveau'" id="niveau">
								                                  <option th:value="''" th:text="'-- Tous les niveaux --'"> </option> 
								                                  <div th:each="niveau : ${listNiveauDiploma}"> 
								                                       <option th:value="${niveau.id}" th:text="${niveau.niveau}"> </option> 
								                                  </div>
								                             </select>
								                        </div>
								                 	</div>
								                </div>	 
		                                        <div class="col-md-6 col-md-offset-5">
		                                        	<button class="btn btn-base " th:onclick="|searchCritereDiplome()|" >RECHERCHE</button>
		                                    	</div>
		                                    </div>
	                                    </div>
                                    </div>
                                    <div class="form-group row">
	                                    <div class="skin-flat">
	                                    	<div id="outputlisteDiplome" class="row"></div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="modal-footer">
	                                <button  class="btn btn-base" data-dismiss="modal" >Ok</button>
	                                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
	                            </div>
	                        <!-- </form> -->
	                    </div><!-- /.modal-content -->
	                </div><!-- /.modal-dialog -->
	            </div><!-- /.modal -->
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2018 The Static Templates</div>
	<script>
	function changeAnneeFin(){
		var addition = parseInt($('#anneeDeb').val()) + parseInt(1);
		$('#anneeFin').val(addition); 
	}
	
	function searchListeDiplome() { 
		 
		$.ajax({
			  method: "GET",
			  url: "http://localhost:8080/searchDiplome",
			  data: { champ: $("#listeDiplome").val() }
			}).done(function( msg ) {

				$('#outputlisteDiplome').html(getHtml(msg,"setIdDiplome")); 
				
				 console.log( "Data Saved: " + msg[0].tagName );
				//$("#outputCIN").html(msg);
			   
	  		});
	}
	function searchCritereDiplome() { 
		$.ajax({
			  method: "GET",
			  url: "http://localhost:8080/searchCritereDiplome",
			  data: { 
				  	ecole: $("#ecole").val(),
				  	filiere: $("#filiere").val(),
				  	option: $("#option").val() ,
				  	niveau: $("#niveau").val()
				  	}
			}).done(function( msg ) {
				
				$('#outputlisteDiplome').html(getHtml(msg,"setIdDiplome")); 
				
				 console.log( "Data Saved: " + msg);
				//$("#outputCIN").html(msg);
			   
	  		});
	}
	function searchCritereCIN() { 
		$.ajax({
			  method: "GET",
			  url: "http://localhost:8080/searchCritereCIN",
			  data: { 
				  	nomCIN: $("#nom").val(),
				  	prenom: $("#prenom").val(), 
				  	numeroCIN: $("#numeroCIN").val() ,
				  	adresseActuelle: $("#adresseActuelle").val(), 
				  	fonction: $("#fonction").val(),
				  	lieuTravail: $("#lieuTravail").val()  
				  	}
			}).done(function( msg ) {
				//var obj = JSON.parse(msg); 
				
				$('#outputCIN').html(getHtml(msg,"setIdCIN")); 
				
				 console.log( "Data Saved: " + msg);
				//$("#outputCIN").html(msg);
			   
	  		});
	}
	
	function searchCIN() {
		$.ajax({
			  method: "GET",
			  url: "http://localhost:8080/searchCIN",
			  data: { champ: $("#cin").val() }
			}).done(function( msg ) {
				//var obj = JSON.parse(msg); 
				
				$('#outputCIN').html(getHtml(msg,"setIdCIN")); 
				
				 console.log( "Data Saved: " + msg[0].tagName );
				//$("#outputCIN").html(msg);
			   
	  		});
	}
	function setIdCIN(id, name){ 
		 $('#cinChamp').val(name); 
		 $('#cinHidden').val(id);
		 $('#idCinTemp').val(id);
		//console.log('Hello = '+id);
	}
	function setIdDiplome(id, name){ 
		 $('#listeDiplomeChamp').val(name); 
		 $('#listeDiplomeHidden').val(id);
		// cinChamp.setAttribute("name", "cin");
	} 
	function getHtml(msg, fonction){
		var html = "<div class=\"col-md-10\"><h4>Resultat(s) du recherche : <b class=\"text-primary\" >" + msg.length + " </b></h4>";
		//console.log("size = " + msg.length);
		html+="<div class=\"col-md-1\"></div><div class=\"col-md-11\"> ";
		var i = 0; 
		while (i < msg.length){
			html+="<div class=\"i-check\"><input tabindex=\""+i+"\" "+
				  "type=\"radio\" id=\"flat-radio-"+i+"\" name=\"selectRadio\" onclick=\""+fonction+"("+ msg[i].id + ",'" + msg[i].tagName + "')\" value=\""+msg[i].id+"\">"+
				  "  <label for=\"flat-radio-"+i+"\"> " + msg[i].tagName + " </label></div>";
			i++;
		}
		html+="</div><div class=\"col-md-2\"></div></div>";
		return html;
	}
	

	</script>
    <!-- ./²wrapper -->
    <!-- START CORE PLUGINS -->
    <script>
    	
		/*$(function() {
			 $("#w-input-search").autocomplete({
				source : function(request, response) { 
					$.ajax({
						type: "GET",
						url : 'http://localhost:8080/getTags',
						dataType : "json",
						data : {
							tagName : request.term
						},
						success : function(data) {
							window.test = data;
							//autocomplete(document.getElementById("w-input-search"), data);
							// alert(data); 
							/*console.log("window.test = " );
							 
							return response(data);
							 
						}
					});
					return {      	
						  //must convert json to javascript object before process
						  suggestions: $.map($.parseJSON(window.test), function(item) {
						       return { value: item.tagName, data: item.id };
						   })
						            
						 };  
				},
				minLength : 2
				
			});
		});*/
	</script>
	
    <script src="assets/plugins/jQuery/jquery-1.12.4.min.js"></script> 
   	<script src="assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script> 
    <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="assets/plugins/fastclick/fastclick.min.js"></script>
    <script src="assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="assets/plugins/lobipanel/lobipanel.min.js"></script>
   
    <!-- Select2 Js -->
    <script src="assets/plugins/select2/select2.min.js"></script>
    <script src="assets/plugins/select2/select2-active.js"></script>
    <!-- icheck Js -->
    <script src="assets/plugins/icheck/icheck.min.js"></script>
    <script src="assets/plugins/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="assets/plugins/icheck/icheck-active.js"></script>>
    <!-- modals js -->
    <script src="assets/plugins/modals/classie.js"></script>
    <script src="assets/plugins/modals/modalEffects.js"></script>
    
    <!-- TouchSpin Js -->
    <script src="assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="assets/plugins/bootstrap-touchspin/touchspin-active.js"></script> 
    <!-- Footable Js -->
    <script src="assets/plugins/footable-bootstrap/js/footable.all.min.js"></script>
    <script src="assets/plugins/footable-bootstrap/js/footable-active.js"></script>
    <!-- START THEME LABEL SCRIPT -->
    <script src="assets/dist/js/theme.js"></script>
</body>

</html>