<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <base href="http://localhost:8080/showRequest" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Demande d'&eacute;quivalence - Administration Equivalence FOP(67Ha)</title>
    <link rel="shortcut icon" href="assets/dist/img/favicon.png" type="image/x-icon">
    <script src="assets/js/webfont.js"></script>
    <script>
        WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
    </script>
    <link href="assets/plugins/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">   
    <!-- START GLOBAL MANDATORY STYLE -->
    <link href="assets/dist/css/base.css" rel="stylesheet" type="text/css">
    <!-- START PAGE LABEL PLUGINS -->

    <!-- START THEME LAYOUT STYLE -->
    <link href="assets/dist/css/style.css" rel="stylesheet" type="text/css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
    <title>Fiche Demande</title>
</head>

<body class="hold-transition fixed sidebar-mini">


    <!-- Site wrapper -->
    <!-- Content Wrapper. Contains page content -->
    <div th:replace="fragments/header :: header">Enregistrement</div>
    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="content-header">
                <div class="header-icon">
                    <i class="pe-7s-note2"></i>
                </div>
                <div class="header-title">
                    <h1>Fiche de demande</h1>
                    <small></small>
                    <ol class="breadcrumb">
                        <li><a href="/homePage"><i class="pe-7s-home"></i> Accueil </a></li>
                        <li><a href="#">Enregistrement</a></li>
                        <li><a href="/requestList">Liste Demande</a></li>
                        <li><a href="/newRequest">Nouveau demande</a></li>
                        <li class="active">Fiche demande</li>
                    </ol>
                </div>
            </div> <!-- /. Content Header (Page header) -->

            <div class="row">
                <!-- Textual inputs -->
                <div class="col-sm-8">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Demande d'&eacute;quivalence</h4>
                            </div>
                        </div>

                        <div class="panel-body">
                        	<div th:if="${statusRejet!=null}">
			                    <div th:if="${statusRejet=='1'}" class="alert alert-sm alert-warning alert-dismissible" role="alert">
			                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
			                                aria-hidden="true">&times;</span></button>
			                        <i class="fa fa-exclamation-circle"></i><strong>Information!</strong> Cette demande a été enregistreé en tant que rejets (cause: <span class="text-danger"> il n'a pas encore de liste de promotion!!!</span>)
			                    </div>
			                    <div th:if="${statusRejet=='2'}" class="alert alert-sm alert-warning alert-dismissible" role="alert">
			                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
			                                aria-hidden="true">&times;</span></button>
			                        <i class="fa fa-exclamation-circle"></i><strong>Information!</strong> Cette demande a été enregistreé en tant que rejets (cause: <span class="text-danger"> le diplôme demandé n'as pas encore d'arrêté d'équivalence ou le contenu de l'arrêté <a th:if="${arreteRejet!=null}" th:href="'/newArrete/'+${arreteRejet.id}" th:text="'N° ' + ${arreteRejet.id}"></a> n'as pas encore été mise à jour!!!</span>)
			                    </div>
			                </div>
                        	<div th:if="${size!=null}">
	                           <div th:if="${size==1}" class="alert alert-sm alert-info alert-dismissible" role="alert">
	                               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                               <i class="fa fa-exclamation-circle"></i><strong>Information! </strong> Cette personne a été trouve dans  (<b th:text="'une seule promotion'" class="text-danger"></b>)  !!!
	                           </div>
	                           <div th:if="${size!=1}" class="alert alert-sm alert-info alert-dismissible" role="alert">
	                               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                               <i class="fa fa-exclamation-circle"></i><strong>Information! </strong> Cette personne a été trouve dans  (<b th:text="${size}+' promotion différent'" class="text-danger"></b>)  !!!
	                           </div>
	                       	</div>
                            <div class="table-responsive"> 
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                     		<th colspan="2" class="text-center">DEMANDE D’EQUIVALENCE ADMINISTRATIVE DE TITRE ET DIPLOME</td>
                                     	</tr>
                                    </thead>
                                    <tbody>
                                     	
                                        <tr>
                                            <th>Num&eacute;ro enregistre&eacute; </th>
                                            <td th:text="*{ficheDemande.id} + ' /' + *{ficheDemande.dateRetrait.getYear()-100}"></td>
                                        </tr>
                                        <tr>
                                            <th>Carte d'identit&eacute; (associ&eacute;) </th>
                                            <td><a class="text-primary" th:href="'/cin/show/'+ *{ficheDemande.cin.id}"  th:text="*{ficheDemande.cin.nom} + ' ' + *{ficheDemande.cin.prenom}"></a> </td>
                                        </tr>
                                        <tr>
                                            <th>Dipl&ocirc;me (associ&eacute;) </th>
                                            <td><a class="text-primary" th:href="'/showDiploma/'+ *{ficheDemande.listesDiplome.id}" th:text="*{ficheDemande.listesDiplome.ecole}+' | '+*{ficheDemande.listesDiplome.niveauDiplome.niveau} + ' EN ' + *{ficheDemande.listesDiplome.filiere} + ' option:' + *{ficheDemande.listesDiplome.option} "></a></td>
                                        </tr>
                                        <tr>
                                            <th>t&eacute;l&eacute;phone </th>
                                            <td th:text="*{ficheDemande.telephone}"></td>
                                        </tr>
                                        <tr>
                                            <th>Diplome </th>
                                            <td th:text="*{ficheDemande.diplome}"></td>
                                        </tr>
                                        <tr>
                                            <th>Utilisation </th>
                                            <td th:text="*{ficheDemande.utilisation}"></td>
                                        </tr>
                                        <tr>
                                            <th>Situation </th>
                                            <td> 
		                                        <input type="checkbox" th:field="*{ficheDemande.statusRejet}" data-toggle="toggle"
		                                            data-on="En cours" data-off="Rejeté" data-onstyle="base" data-offstyle="danger" data-size="small" disabled> 
                                            </td> 
                                        </tr>
                                        <tr>
                                            <th>Date Retrait </th>
                                            <td th:text="'Rendez-vous le '+*{#dates.format(ficheDemande.dateRetrait, 'dd-MM-yyyy')}"></td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a href="/requestList"><button type="button" class="btn btn-primary w-md m-rb-5"><i class="fa fa-reply">
                            </i> Revenir</button></a>
                    <a th:href="'/editRequest/' + ${ficheDemande.id}"><button type="button" class="btn btn-base w-md m-rb-5"><i class="fa fa-check-square-o"> </i> Mettre &agrave; jour</button></a>
             	</div>
             	<div class="col-sm-4">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Info</h4>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive"> 
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                     		<th colspan="2" class="text-center">Information diplome</td>
                                     	</tr>
                                    </thead>
                                    <tbody>
                                     	
                                        <tr>
                                            <th>Anne&eacute; scolaire (Session) </th>
                                            <td th:text="*{ficheDemandeDetail.anneeDeb} + ' - ' + *{ficheDemandeDetail.anneeFin}"></td>
                                        </tr>
                                        <!-- <tr>
                                            <th>Mention </th>
                                            <td>
                                            	<button type="button" th:if="*{ficheDemandeDetail.mention=='Passable'}" th:class="'btn btn-black btn-transparent w-md m-rb-5'" disabled th:text="*{ficheDemandeDetail.mention}"></button>
                                           		<button type="button" th:if="*{ficheDemandeDetail.mention!='Passable'}" th:class="'btn btn-success btn-transparent w-md m-rb-5'" disabled th:text="*{ficheDemandeDetail.mention}"></button>
											</td>
                                        </tr> -->
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                	<a th:href="'/traitement/'+*{ficheDemandeDetail.ficheDemande.id}+'/statusRejet/1'"><button class="btn btn-primary w-md m-rb-5" data-toggle="tooltip" data-placement="top" title="Effectuer le traitement"><i class="fa fa-balance-scale" aria-hidden="true"></i> Traiter</button></a>
                </div>
            </div>
        </div> <!-- CONTENT -->
    </div> <!-- WRAPPER -->
    <div th:replace="fragments/footer :: footer">&copy; 2018 The Static Templates</div>
<script>
        function printPDF(titre) {
        	console.log("Print = "+titre);
            var pdf = new jsPDF('p', 'pt', 'a4');
            // source can be HTML-formatted string, or a reference
            // to an actual DOM element from which the text will be scraped.
            source = $('#pdf')[0];

            // we support special element handlers. Register them with jQuery-style 
            // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
            // There is no support for any other type of selectors 
            // (class, of compound) at this time.
            specialElementHandlers = {
                // element with id of "bypass" - jQuery style selector
                '#bypassme': function (element, renderer) {
                    // true = "handled elsewhere, bypass text extraction"
                    return true
                }
            };
            margins = {
                top: 80,
                bottom: 60,
                left: 40,
                width: 522
            };
            // all coords and widths are in jsPDF instance's declared units
            // 'inches' in this case
            pdf.fromHTML(
                source, // HTML string or DOM elem ref.
                margins.left, // x coord
                margins.top, { // y coord
                    'width': margins.width, // max width of content on PDF
                    'elementHandlers': specialElementHandlers
                },

                function (dispose) {
                    // dispose: object with X, Y of the last line add to the PDF 
                    //          this allow the insertion of new lines after html
                    pdf.save(titre + '.pdf');
                }, margins
            );
        }
    </script>
    <!-- ./²wrapper -->
    <!-- START CORE PLUGINS -->
    <script src="assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
    <script src="assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="assets/plugins/fastclick/fastclick.min.js"></script>
    <script src="assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="assets/plugins/lobipanel/lobipanel.min.js"></script>
    <!-- BootStrap WiZarD -->
    <script src="assets/plugins/bootstrap-wizard/jquery.backstretch.min.js"></script>
    <script src="assets/plugins/bootstrap-wizard/form.scripts.js"></script>
    <!-- icheck Js -->
    <script src="assets/plugins/icheck/icheck.min.js"></script>
    <script src="assets/plugins/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="assets/plugins/icheck/icheck-active.js"></script>
    <!-- Footable Js -->
    <script src="assets/plugins/footable-bootstrap/js/footable.all.min.js"></script>
    <script src="assets/plugins/footable-bootstrap/js/footable-active.js"></script>
    <!-- START THEME LABEL SCRIPT -->
    <script src="assets/dist/js/theme.js"></script>
</body>

</html>