<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
 <meta charset="utf-8">
   <base href="http://localhost:8080/404" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>404 - Administration Equivalence FOP(67Ha)</title>
        <link rel="shortcut icon" href="assets/dist/img/favicon.png" type="image/x-icon">
        <script src="assets/js/webfont.js"></script>
        <script>
            WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
        <!-- START GLOBAL MANDATORY STYLE -->
        <link href="assets/dist/css/base.css" rel="stylesheet" type="text/css">
        <!-- START THEME LAYOUT STYLE -->
        <link href="assets/dist/css/style.css" rel="stylesheet" type="text/css"/>
    
    </head>
    <body>
        
        <div class="error_page">
            <div class="middle-box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="error-text">
                            <h1>4<span class="error bounce">0</span><span class="m-l-90">4</span></h1>
                            <h3><span>Page</span><br class="hidden-xs"> non trouv&eacute;e</h3>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="error-desc">
                            <p>D&eacute;sol&eacute;, mais la page que vous recherchez a &eacute;t&eacute; trouv&eacute;e. Essayez de v&eacute;rifier l'erreur sur l'URL, 
								puis appuyez sur le bouton Actualiser de votre navigateur ou essayez autre chose trouv&eacute; dans notre application.</p>
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                     <input type="text" class="form-control" th:value="'/'+${pageRedirect}+'.html'" disabled placeholder="Search for page">
                                    <div class="input-group-btn">
                                        <a th:href="'/'+${pageRedirect}" class="btn btn-base">Revenir</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- START CORE PLUGINS -->
        <script src="assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>