<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>CIN - Administration Equivalence FOP(67Ha)</title>
        <link rel="shortcut icon" href="assets/dist/img/favicon.png'" type="image/x-icon">
    
        <script>
            WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
        <!-- START GLOBAL MANDATORY STYLE -->
        <link href="assets/dist/css/base.css"rel="stylesheet" type="text/css">
        <!-- START PAGE LABEL PLUGINS --> 

        <!-- START THEME LAYOUT STYLE -->
        <link href="assets/dist/css/style.css"rel="stylesheet" type="text/css"/>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
<title>CIN - Administration Equivalence FOP(67Ha)</title>
</head>
<body class="hold-transition fixed sidebar-mini">
        
        <!-- Preloader -->
        <div class="preloader"></div>
        
        <!-- Site wrapper -->
        <!-- Content Wrapper. Contains page content -->
        <div th:replace="fragments/header :: header">Enregistrement</div>   
        	<div class="content-wrapper">
                <!-- Main content -->
                <div class="content">
                    <div class="content-header">
                        <div class="header-icon">
                            <i class="pe-7s-note2"></i>
                        </div>
                        <div class="header-title">
                            <h1>Fiche Carte d'identit&eacute;</h1>
                            <small></small>
                            <ol class="breadcrumb">
                                <li><a href="/homePage"><i class="pe-7s-home"></i> Accueil </a></li>
                                <li><a href="#">Enregistrement</a></li>
                                <li><a href="/CINList">Liste CIN</a></li>
                                <li><a href="/newCIN">Nouveau CIN</a></li>
                                <li class="active">Fiche CIN</li>
                            </ol>
                        </div>
                    </div> <!-- /. Content Header (Page header) -->
                 
                    <div class="row">
                    <!-- Textual inputs -->
                    <div class="col-sm-10">
                        <div class="panel panel-bd lobidrag">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4>Mon CIN</h4>
                                </div>
                            </div>
                            <fieldset>
							<legend>Informations personnels :</legend>
                            	<h4 class="m-t-0">Veuillez informer les champs suivant:</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="nom">Nom</label>
                                    <p th:text="${cin.nom}" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="prenom">Pr&eacute;nom</label>
                                    <p th:text="*{cin.prenom}" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="photo">Photo d'identit&eacute;</label>
                                    <p th:text="*{cin.photo}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="dateNaissance">Date de naissance</label>
                                    <p th:text="*{cin.dateNaissance}" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="lieuNaissance">&agrave;</label>
                                    <p th:text="*{cin.lieuNaissance}" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-last-name">N° CIN</label>
                                    <p th:text="*{cin.numeroCIN}" class="form-control" >
                                </div>
                        	</fieldset>
                        	
                        	<fieldset>
							<legend>Localisation :</legend>
                                <div class="form-group">
                                    <label class="sr-only" for="adresseActuelle">adresseActuelle</label>
                                    <p th:text="${cin.adresseActuelle}" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="dateDelivrance">dateDelivrance</label>
                                    <p th:text="*{cin.dateDelivrance}" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="lieuDelivrance">lieuDelivrance</label>
                                    <p th:text="*{cin.lieuDelivrance}" class="form-control">
                                </div>
                        	</fieldset>
                        	
                        	<fieldset>
							<legend>Information travail :</legend>
                                <div class="form-group">
                                    <label class="sr-only" for="adresseActuelle">adresseActuelle</label>
                                    <p th:text="${cin.nationalite}" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="fonction">fonction</label>
                                    <p th:text="*{cin.fonction}" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="lieuTravail">lieuTravail</label>
                                    <p th:text="*{cin.lieuTravail}" class="form-control">
                                </div>
                        	</fieldset>
                        </div>
                    </div>
                   <div class="col-sm-2">
                   		<a href="/CINList"><button type="button" class="btn btn-primary w-md m-rb-5">Revenir</button></a>
               		</div>
                </div>
                </div>
            </div>
       	<div th:replace="fragments/footer :: footer">&copy; 2018 The Static Templates</div>
        
        <!-- ./²wrapper -->
        <!-- START CORE PLUGINS -->
        <script src="assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
        <script src="assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/fastclick/fastclick.min.js"></script>
        <script src="assets/plugins/metisMenu/metisMenu.min.js"></script>
        <script src="assets/plugins/lobipanel/lobipanel.min.js"></script>
        <!-- BootStrap WiZarD -->
        <script src="assets/plugins/bootstrap-wizard/jquery.backstretch.min.js"></script>
        <script src="assets/plugins/bootstrap-wizard/form.scripts.js"></script>
        <!-- Footable Js -->
        <script src="assets/plugins/footable-bootstrap/js/footable.all.min.js"></script>
        <script src="assets/plugins/footable-bootstrap/js/footable-active.js"></script>
        <!-- START THEME LABEL SCRIPT -->
        <script src="assets/dist/js/theme.js"></script>
	</body>
	
</html>