 <header class="main-header"> 
       <a href="/homePage" class="logo"> <!-- Logo -->
           <span class="logo-mini">
               <!--<b>A</b>H-admin-->
               <img src="assets/dist/img/logo-mini.png" alt="img">
           </span>
           <span class="logo-lg">
               <!--<b>Admin</b>H-admin-->
               <img src="assets/dist/img/logo.png" alt="img">
           </span>
       </a>
       <!-- Header Navbar -->
       <nav class="navbar navbar-static-top">
           <a href="#" class="sidebar-toggle hidden-sm hidden-md hidden-lg" data-toggle="offcanvas" role="button"> <!-- Sidebar toggle button-->
               <span class="sr-only">Toggle navigation</span>
               <span class="ti-menu-alt"></span> 
           </a>
           <div class="navbar-custom-menu">
               <ul class="nav navbar-nav">
                   <li>
                       <form class="navbar-form hidden-xs" role="search">
                           <div class="input-group add-on">
                               <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                               <div class="input-group-btn">
                                   <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search"><i class="ti-search"></i></button>
                               </div>
                           </div>
                       </form>
                   </li>
                   
                   
                   <li class="dropdown dropdown-user">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="ti-user"></i></a>
                       <ul class="dropdown-menu">
                           <li><a href="/profile"><i class="ti-user"></i> Profil utilisateur</a></li>
                           <li><a href="/logout"><i class="ti-key"></i> D&eacute;connexion</a></li>
                       </ul>
                   </li>
               </ul>
           </div>
       </nav>
       <aside class="main-sidebar">
           <!-- sidebar -->
           <div class="sidebar">
               <!-- sidebar menu -->
               <ul class="sidebar-menu">
                   <li><a href="/homePage"><i class="fa fa-dashboard"></i>Tableau de bord</a></li>
                  
                   <li class="treeview">
                       <a href="#">
                           <i class="ti-pencil-alt"></i> <span>Enregistrement</span>
                           <span class="pull-right-container">
                               <i class="fa fa-angle-left pull-right"></i>
                           </span>
                       </a>
                       <ul class="treeview-menu">
                       	<li>
                      		<a href="/requestList">Liste des demandes</a></li>
                           	<li><a href="/CINList">Liste des CIN</a></li>
                           	<li><a href="/diplomaList">Liste des dipl&ocirc;mes</a></li>
                           	<li><a href="/newRequest">Faire une demande</a></li>
                           
            		   </ul>
                   </li>
                   <li class="treeview">
                       <a href="#">
                           <i class="ti-notepad"></i> <span>Arr&ecirc;t&eacute;s &eacute;quivalence</span>
                           <span class="pull-right-container">
                               <i class="fa fa-angle-left pull-right"></i>
                           </span>
                       </a>
                       <ul class="treeview-menu">
                      	   <li><a href="/listArrete">Liste arr&ecirc;t&eacute;</a></li>
                           <!-- <li><a href="/checkArrete">Match-er arr&ecirc;t&eacute;s</a></li> -->
                       </ul>
                   </li>
                   <li class="treeview">
                       <a href="#">
                           <i class="fa fa-sort-alpha-desc"></i> <span>Liste promotions</span>
                           <span class="pull-right-container">
                               <i class="fa fa-angle-left pull-right"></i>
                           </span>
                       </a>
                       <ul class="treeview-menu">
                           <li><a href="/listProm">Promotions (par session)</a></li>
                       </ul>
                   </li>
                   <!-- <li class="treeview">
                       <a href="#">
                           <i class="fa fa-sort-alpha-desc"></i> <span>Liste du personnel</span>
                           <span class="pull-right-container">
                               <i class="fa fa-angle-left pull-right"></i>
                           </span>
                       </a>
                       <ul class="treeview-menu">
                           <li><a href="/newStaff">Ajouter</a></li>
                           <li><a href="/listStaff">listes</a></li>
                       </ul>
                   </li> -->
                   
                   <li><a href="/timeline" class="text-purple"><i class="fa fa-hourglass"></i>Historique</a></li>
                   
               </ul>
           </div> <!-- /.sidebar -->
       </aside>
   </header>