<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <base href="http://localhost:8080/homePage" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Accueil - Administration Equivalence FOP(67Ha)</title>
    <link rel="shortcut icon" href="assets/dist/img/favicon.png'" type="image/x-icon">

    <script>
        WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
    <!-- START GLOBAL MANDATORY STYLE -->
    <link href="assets/dist/css/base.css" rel="stylesheet" type="text/css">
    <!-- START PAGE LABEL PLUGINS -->

    <link href="assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">

    <!-- START THEME LAYOUT STYLE -->
    <link href="assets/dist/css/style.css" rel="stylesheet" type="text/css" />

    <title>Tableau de bord</title>
</head>

<body class="hold-transition fixed sidebar-mini">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Site wrapper -->
    <!-- Content Wrapper. Contains page content -->
    <div th:replace="fragments/header :: header">Static header</div>

    <!-- Main content 
             <div class="content">
                <h1 th:text="'Hello ' + ${#strings.capitalize(pseudo)} + '!!!'"></h1>	
				<a href="/users"> Test Connections databases</a>              
     	     </div>-->

    <div class="content-wrapper">
        <div class="content">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="header-icon">
                    <i class="pe-7s-display2"></i>
                </div>
                <div class="header-title">
                    <h1>Tableau de bord : </h1>
                    <small></small>
                    <ol class="breadcrumb">
                        <li><a href="/homePage"><i class="pe-7s-home"></i> Accueil </a></li>  
                    </ol>
                </div>
            </div> <!-- /. Content Header (Page header) -->
            <div class="row">  
                <div class="col-sm-8"> 
                	<!-- STATISTIQUEs -->
                    <div class="col-sm-11 panel panel-bd lobidrag">
	            		<div class="panel-heading">
                            <div class="panel-title">
                                <h4>Statistique mensuel des demandes</h4>
                            </div>
                        </div>
	            		<div id="myChart">
	           				 
	           			</div>
	            	</div>
                		<h1 th:text="'fréquence des demandes quotidienne: '+${#numbers.formatDecimal(moyenne,2,2)}+' /jours '"></h1>
                 
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Liste des Demandes En cours</h4>
                            </div>
                        </div>
                        <div th:each=" stat : ${stats}">
                        	<input type="hidden" id="mois[]" name="mois[]" th:value="${stat}" >
                        </div>
                        <div class="panel-body">
                       	 	<a href="/newRequest" class="btn btn-primary w-md m-rb-5">Faire une nouvelle demande</a>
                            <div th:if="${not #lists.isEmpty(listeDemande)}">

                                <div class="table-responsive">
                                    <input type="text" class="form-control input-sm m-b-15" id="filter" placeholder="Search in table">
                                    <table id="example1" class="footable table table-bordered toggle-arrow-tiny"
                                        data-page-size="8" data-filter=#filter>
                                        <thead>
                                            <tr>
                                                <th class="text-center">Num&eacute;ro /anne&eacute; </th>
                                                <th class="text-center">Rendez vous le </th>
                                                <th class="text-center">Carte d'identit&eacute; </th>
                                                <th class="text-center">Dipl&ocirc;me associe (arr&ecirc;t&eacute;) :</th>
                                              
                                                <th class="text-center">Action</th>
 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="demande : ${listeDemande}">
                                                <td class="text-center" th:text="${demande.id} + ' /' + ${demande.dateRetrait.getYear()-100}"></td>
                                                <td class="text-center"><a th:href="'/showRequest/'+${demande.id}" th:text="${#dates.format(demande.dateRetrait, 'dd-MM-yyyy')}"></a></td>
                                                <td class="text-center"><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.cin.nom} + ' ' + ${demande.cin.prenom}"></a></td>
                                                <td><b><a th:href="'/showRequest/'+${demande.id}" th:text="${demande.listesDiplome.ecole} + ' | ' + ${demande.listesDiplome.niveauDiplome.niveau} + ' | ' + ${demande.listesDiplome.filiere}"></a></b></td>
                                                <td class="text-center">
                                                    <a th:href="'/editRequest/'+${demande.id}"><button class="btn btn-base btn-sm"
                                                            data-toggle="tooltip" data-placement="top" title="Update"><i
                                                                class="fa fa-pencil" aria-hidden="true"></i></button></a>
                                                    <button class="btn btn-danger btn-sm" data-toggle="tooltip"
                                                        data-placement="top" title="Delete " th:onclick="|goToDelete('${demande.id}')|"><i
                                                            class="fa fa-trash-o" aria-hidden="true"></i></button>
													<a th:href="'/traitement/'+${demande.id}+'/statusRejet/0'"><button class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Effectuer le traitement"><i class="fa fa-balance-scale" aria-hidden="true"></i></button></a>
                                                    
                                                    <!-- <input type="checkbox" checked data-toggle="toggle" data-on="Valide" data-off="Rejeter" data-onstyle="base" data-offstyle="danger" data-size="small" data-style="slow"> -->
                                                </td>
                                               
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           	<div class="col-md-12">
                           	<label class="col-md-4">Pagination :</label>
                           	<div class="btn-toolbar col-md-8" role="toolbar" aria-label="Toolbar with button groups">
                                   <div class="btn-group" role="group" aria-label="First group">
                                       <span th:each=" page : ${nombrePagination}"><a th:href="'/home/demande/page-'+${page}" type="button" class="btn btn-default" th:text="${page}"></a></span>
                                   </div>
                               </div> 
                           </div>
                         </div>
                        
                    </div>
                    
                </div>
                <!-- Sparklines Charts --> 
	                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	                    <!-- statistic box -->
	                    <div class="statistic-box statistic-filled-3">
	                        <h2>N° <span class="count-number">220</span> /18<span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> 5%</span> numéro en cours</h2> 
	                        
	                        <div class="small">Total Sales</div>
	                        <i class="ti-user statistic_icon"></i>
	                        <div class="sparkline4 text-center"></div>
	                    </div> <!--/. statistic box -->
	                </div> 
                <div class="col-lg-4 visible-lg">
                	
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="ti-stats-up"></i>
                                <a th:href="@{/timeline}">
                                    <h4>R&eacute;cent Activit&eacute;s</h4>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="activity-list list-unstyled">
                                <div th:if="${testDelete>0}">
                                    <div class="alert alert-sm alert-success alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <i class="fa fa-exclamation-circle"></i><strong>Information! </strong><span class="text-success" th:text="${testDelete}"></span> ligne(s) ont &eacute;t&eacute; lib&eacute;r&eacute; de l'historique !
                                    </div>
                                </div>
                                <li th:each="activity : ${activities}" class="activity-purple">
                                    <small class="text-muted" th:text="'il y a, '+${activity.dateAjout}"></small>
                                    <p th:text="${activity.definition}"></p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                
                 
            </div>
        </div> <!-- /.main content -->
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2018 The Static Templates</div>
    <script>
        function goToDelete(id) {
            var txt;
            var r = confirm("Cette action est irreversible! Etes-vous vraiment sûr de continuer?");
            if (r == true) {
                window.location.href = "/request/rejete/" + id + "/home";
            }

        }
    </script>
    <!-- ./²wrapper -->
    <!-- START CORE PLUGINS -->
    <script src="assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
    <script src="assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="assets/dist/js/Chart.min.js"></script>
    <script src="assets/dist/js/Chart.bundle.min.js"></script> 
    <script src="assets/dist/js/utils.js"></script> 
    <script>
	    //var ctx = document.getElementById("myChart");
	    
	    var tableauFiche = $("input[name='mois[]']").map(function(){ return $(this).val(); }).get(); 
	  /*  var myChart = new Chart(ctx, {
	        type: 'bar',
	        data: {
	            labels: ["Janvier", "Février", "Mars", "Avril","Mai","Juin",
	            	"Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
	            datasets: [{
	                label: '# Nombre demande(s)',
	                data: [tableauFiche[0], tableauFiche[1], tableauFiche[2], tableauFiche[3], tableauFiche[4] , 
	                	tableauFiche[5], tableauFiche[6], tableauFiche[7], tableauFiche[8], 
	                	tableauFiche[9], tableauFiche[10], tableauFiche[11]],
	                backgroundColor: [
	                	'rgba(75, 194, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)'
	                ],
	                borderColor: [
	                	'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)',
	                    'rgba(75, 192, 192, 0.5)'
	                ],
	                borderWidth: 1
	            }]
	        },
	        options: {
	            scales: {
	                yAxes: [{
	                    ticks: {
	                        beginAtZero:true
	                    }
	                }]
	            }
	        }
	    });*/
	    var tableauFiche = $("input[name='mois[]']").map(function(){ return $(this).val(); }).get(); 
	    function createConfig(position) {
			return {
				type: 'bar',
				data: {
					labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin",
		            	"Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
					datasets: [{
							label: 'année dernière',
							borderColor: window.chartColors.blue,
							backgroundColor: window.chartColors.blue,
							data: [7, 10, 22, 12, 6, 8, 15, 26, 25, 15, 9, 3],
							fill: false,
						}, {
						label: 'cette année',
						borderColor: window.chartColors.red,
						backgroundColor: window.chartColors.red,
						data: [tableauFiche[0], tableauFiche[1], tableauFiche[2], tableauFiche[3], tableauFiche[4] , 
		                	tableauFiche[5], tableauFiche[6], tableauFiche[7], tableauFiche[8], 
		                	tableauFiche[9], tableauFiche[10], tableauFiche[11]],
						fill: true,
					}]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Statistique des demandes: ' + position
					},
					tooltips: {
						position: position,
						mode: 'index',
						intersect: false,
					},
				}
			};
		}

		window.onload = function() {
			var container =  document.getElementById("myChart");

			['average'].forEach(function(position) {
				var div = document.createElement('div');
				div.classList.add('chart-container');

				var canvas = document.createElement('canvas');
				div.appendChild(canvas);
				container.appendChild(div);

				var ctx = canvas.getContext('2d');
				var config = createConfig(position);
				new Chart(ctx, config);
			});
		};
	</script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="assets/plugins/fastclick/fastclick.min.js"></script>
    <script src="assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="assets/plugins/lobipanel/lobipanel.min.js"></script>
    <!-- START THEME LABEL SCRIPT -->

    <!-- DataTable Js -->
    <script src="assets/plugins/datatables/dataTables.min.js"></script>
    <script src="assets/plugins/datatables/dataTables-active.js"></script>

    <!-- Footable Js -->
    <script src="assets/plugins/footable-bootstrap/js/footable.all.min.js"></script>
    <script src="assets/plugins/footable-bootstrap/js/footable-active.js"></script>
   <!-- CounterUp Js -->
        <script src="assets/plugins/counterup/waypoints.js"></script>
        <script src="assets/plugins/counterup/jquery.counterup.min.js"></script>
        <!-- Sparkline Js -->
        <script src="assets/plugins/sparkline/sparkline.min.js"></script>
        <script src="assets/plugins/sparkline/sparkline-active.js"></script>
    <!-- icheck Js -->
    <script src="assets/plugins/icheck/icheck.min.js"></script>
    <script src="assets/plugins/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="assets/plugins/icheck/icheck-active.js"></script>
    <script src="assets/dist/js/theme.js"></script>
</body>

</html>