<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
 <meta charset="utf-8">
 <base href="http://localhost:8080/newArrete" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>EQUIVALENCE</title>
        <link rel="shortcut icon" href="assets/dist/img/favicon.png'" type="image/x-icon">
    	<script src="assets/js/webfont.js"></script>
        <script>
            WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
        <!-- START GLOBAL MANDATORY STYLE -->
        <link href="assets/dist/css/base.css"rel="stylesheet" type="text/css">

		<!-- START PAGE LABEL PLUGINS --> 
        <link href="assets/plugins/summernote/summernote.css" rel="stylesheet" type="text/css"/>
        
        <!-- START THEME LAYOUT STYLE -->
        <link href="assets/dist/css/style.css"rel="stylesheet" type="text/css"/>
        
        <!-- START THEME CKEDITOR -->
    	<script src="https://cdn.ckeditor.com/4.10.0/full-all/ckeditor.js"></script>
       
<title>Equivalence App</title>
</head>
<body class="hold-transition fixed sidebar-mini">
        
        <!-- Preloader -->
        <div class="preloader"></div>
        
        <!-- Site wrapper -->
        <!-- Content Wrapper. Contains page content -->
        <div th:replace="fragments/header :: header">Static header</div>   
      <!--  --> 
      <div class="content-wrapper">
                <!-- Main content -->
                <div class="content">
                    <div class="row">
                        <div class="col-sm-12"> 
                        	<form action="#" method="POST" >
	                            <div class="mailbox">
	                                <div class="mailbox-header">
	                                    <div class="row">
	                                        <div class="col-xs-4">
	                                            <div class="inbox-avatar"><img src="assets/dist/img/logo.png" class="img-circle border-green" alt="img">
	                                                <div class="inbox-avatar-text hidden-xs hidden-sm">
	                                                    <div class="avatar-name">Cr&eacute;ation de l'Arr&ecirc;t&eacute; d'&eacute;quivalence</div>
	                                                    <div><small></small></div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="col-xs-8">
	                                            <div class="inbox-toolbar btn-toolbar">
	                                                <div class="btn-group">
	                                                 	<input type="submit" class="btn btn-default  w-md m-rb-5" value="Sauvegarder"></a>
	                                                    <a class="btn btn-primary w-md m-rb-5" data-toggle="modal" data-target="#myModal">Renommer ce titre</a>
	                                                    <a href="/listArrete" class="hidden-xs hidden-sm btn btn-default"><span class="fa fa-reply-all"></span></a>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="mailbox-body">
	                                    <div class="row m-0">
	                                        <div class="col-sm-3 p-0 inbox-nav hidden-xs hidden-sm">
	                                            <div class="mailbox-sideber">
	                                                <div class="profile-usermenu">
	                                                    <h6>En-t&ecirc;te</h6>
	                                                    <ul class="nav nav-tabs tabs-left">
	                                                    	<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-inbox"></i>Logo-dgfop<small class="label pull-right bg-green">61</small></a></li>
	                                    					<li><a href="#tab2" data-toggle="tab"><i class="fa fa-trash-o"></i>Info-sortie de l'&eacute;quivalence</a></li>
	                                                    </br>
	                                             		<h6>Loi constitutionnel</h6>
	                                                    
	                                                    	<li><a href="#tab3" data-toggle="tab"><i class="fa fa-inbox"></i>LOI + DECRET</a></li>
	                                					 </br>
	                                             		<h6>Tableau categorie</h6>
	                                                    
	                                                    	<li><a href="#tab4" data-toggle="tab"><i class="fa fa-inbox"></i>TITRE + ORGANISME + CATEGORIE </a></li>
	                                    			     </br>
	                                             		<h6>Articles + lois </h6>
	                                                    
	                                                    	<li><a href="#tab5" data-toggle="tab"><i class="fa fa-inbox"></i>Article(s)<small class="label pull-right bg-green">61</small></a></li>
	                                    					<li><a href="#tab6" data-toggle="tab"><i class="fa fa-trash-o"></i>Signature + MINISTRE</a></li>
	                                             		
	                                                </div>
	                                            </div>
	                                        </div>
	                                        
	                                        <div class="col-xs-12 col-sm-12 col-md-9 p-0 inbox-mail p-20  tab-content">
	                                            
	                                            <!-- En-tête -->
	                                            <div class="tab-pane fade in active" id="tab1">
				                                    <div class="panel-body">
				                                        <p><strong>Lorem Ipsum is simply dummy text of the printing and. </strong></p>
				                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
				                                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
				                                            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
				                                            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
				                                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus .</p>
				                                    </div>
				                                </div>
	                                            <div class="tab-pane fade" id="tab2">
				                                    <div class="panel-body">
				                                        <p><strong>TAB 2</strong></p>
				                                        	<div class="row">
																<div class="col-xs-6">
																	 <div class="form-group row">
																		<label class="col-sm-3 col-md-2 col-form-label text-right">Subject :</label>
																		<div class="col-sm-9 col-md-10">
																			<input class="form-control" type="text" id="subjejct">
																		</div>
																	</div>
																	<div class="form-group row">
																		<label class="col-sm-3 col-md-2 col-form-label text-right">Subject :</label>
																		<div class="col-sm-9 col-md-10">
																			<input class="form-control" type="text" id="subjejct">
																		</div>
																	</div>
																</div>
															</div>
															<!-- summernote -->
															<div id="summernote"></div>
															<div class="hidden-xs hidden-sm btn-group">
																<button type="button" class="text-center btn btn-default">DISCARD</button>
																<button type="button" class="btn btn-default">SAVE</button>
															</div>
															<div class="btn-group pull-right">
																<button type="button" class="btn btn-base">SEND</button>
															</div>
				                                    </div>
				                                </div>
				                                <div class="tab-pane fade" id="tab3">
				                                    <div class="panel-body">
				                                        <p><strong>TAB 3 </strong></p>
				                                        <p>Cras nec tincidunt erat. Donec tincidunt dictum mauris at lacinia. 
				                                        Nullam rhoncus elit sed lectus facilisis hendrerit. Cras vitae erat non purus iaculis pretium vitae laoreet enim.
				                                         In ac luctus nisi, eu sollicitudin leo. Vestibulum scelerisque quam a felis posuere, quis feugiat tellus ullamcorper. 
				                                         Aliquam erat volutpat. Phasellus in enim faucibus, sodales libero eget, ornare arcu. In hac habitasse platea dictumst.
				                                          Nam tempus dolor id mauris aliquet, ac dignissim massa pellentesque. 
				                                        Etiam convallis malesuada quam, volutpat dignissim sem semper ut.</p>
				                                    </div>
				                                </div>
				                                <div class="tab-pane fade" id="tab4">
				                                    <div class="panel-body">
				                                        <p><strong>TAB 4 </strong></p>
			                                        	
			                                        	<!-- summernote -->
														<div id="summernote2"></div>
														<div class="btn-group pull-right">
															<button type="button" class="btn btn-base">Finir</button>
														</div>
			                                    	</div>
				                                </div>
				                                
				                                
				                                <!-- Tableau categorie -->
				                                <div class="tab-pane fade" id="tab5">
				                                    <div class="panel-body">
				                                        <p><strong>TAB 5</strong></p>
				                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
				                                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
				                                            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
				                                            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
				                                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus .</p>
				                                    </div>
				                                </div>
				                                <div class="tab-pane fade" id="tab6">
				                                    <div class="panel-body">
				                                        <p><strong>Signature </strong></p>
															<!-- summernote -->
															<div id="summernote3"></div>
															<div class="btn-group pull-right">
																<button type="button" class="btn btn-base">Finir</button>
															</div>
				                                    </div>
				                                </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div> 
                        	</form>
                        </div>
	                        <!-- MODALS DIALOG -->
	             		 	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                           	<div class="modal-dialog" role="document">
                               <div class="modal-content">
                                   	 <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                         <h1 class="modal-title">Renommer l'arr&ecirc;t&eacute; </h1>
                                     </div>
                                     <form th:object="${arreteEqRefForm}" th:action="@{/updateArrete/}+''+${arreteEqRef.id}" method="POST">
                                     
	                                     <div th:if="${#fields.hasErrors('*')}" class="alert alert-sm alert-danger alert-dismissible" role="alert">
		                                  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                                  	<i class="fa fa-exclamation-circle"></i><strong th:text="#{form.hasErrors}" >Error Message!!!</strong> 
		                              	</div>
		                              	
	                                     <div class="modal-body">
	                                      	<div class="form-group row">
		                                        <label for="example-text-input" class="col-sm-3 col-form-label">N° identifiant:</label>
		                                        <div class="col-sm-9">
		                                            <input class="form-control" type="text" th:field="*{id}" id="example-text-input"  disabled>
		                                        </div>
		                                    </div>
	                                        <div class="form-group row">
		                                        <label for="example-text-input" class="col-sm-3 col-form-label">Nommer le titre de l'Arr&ecirc;t&eacute; :</label>
		                                        <div class="col-sm-9">
		                                            <input class="form-control" type="text" th:field="*{titre}" id="example-text-input" placholder="Titre de l'arrêté d'équivalence ..." required>
		                                        </div>
		                                    </div>
		                                     	
			                              	<div class="form-group row">
			                                	<div th:if="${not #lists.isEmpty(listeDiploma)}">
			                                        <label class="col-sm-3 col-form-label">Veuillez selectionner un dipl&ocirc;me </label>
			                                        <div class="col-sm-7">
			                                            <select class="form-control basic-single" th:field="*{listesDiplome}">
			                                            	<div th:each="ecole : ${listEcole}">
			                                            		<optgroup th:label="'Ecole délivreur '+${ecole} + ' : '">
			                                            			<div th:each="diplome : ${listeDiploma}">
			                                            				<div th:if="${ecole == diplome.ecole}">
					                                           				<option th:value="${diplome.id}" th:text="${diplome.niveauDiplome.niveau} + ' EN ' + ${diplome.filiere} + ' option:' + ${diplome.option} "></option>
					                                           			</div>
					                                           		</div>
					                                           	</optgroup>
			                                            	</div>
			                                            </select>
			                                        </div>
			                                    </div>
												<div class="col-sm-1 col-form-label"><b><a href="/newDiploma" data-toggle="tooltip" data-placement="right" title="Ajouter une nouvelle Diplome" th:text="'Nouveau!!!'"></a></b></div>
			                                </div>
		                                    <div class="form-group row">
		                                        <label class="col-sm-3 col-form-label">Anne&eacute; sortie</label>
		                                        <div class="col-sm-7">
		                                            <select class="form-control basic-single" th:field="*{anneeSortie}">
		                                                <option disabled="disabled" selected="selected" th:value="${#calendars.format(#calendars.createNow(), 'yyyy')}" th:text="'Sortie le'"></option>
		                                                <!--placeholder-->
		                                                <div th:each="annee : ${annees}">
		                                                	<option th:value="${annee}" th:text="${annee}"></option>
		                                                </div>
		                                            </select>
		                                        </div>
		                                    </div>
	                                     </div>
	                                     <div class="modal-footer">
	                                         <button type="submit" class="btn btn-base">Ok</button>
                                             <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
	                                     </div>
                                     </form>
                                 </div><!-- /.modal-content -->
                             </div><!-- /.modal-dialog -->
                         </div><!-- /.modal --> 
                    </div>
                </div>
            </div>
       	<div th:replace="fragments/footer :: footer">&copy; 2018 The Static Templates</div>
        
        <!-- ./²wrapper -->
        <!-- START CORE PLUGINS -->
       	<script>
			CKEDITOR.replace( 'editor1' );
		</script>
        <script src="assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
        <script src="assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/fastclick/fastclick.min.js"></script>
        <script src="assets/plugins/metisMenu/metisMenu.min.js"></script>
        <script src="assets/plugins/lobipanel/lobipanel.min.js"></script>
           
        <!-- Summernote Js -->
        <script src="assets/plugins/summernote/summernote.js"></script>
        <script src="assets/plugins/summernote/summernote-active.js"></script>
        <!-- modals js -->
        <script src="assets/plugins/modals/classie.js"></script>
        <script src="assets/plugins/modals/modalEffects.js"></script>
        <!-- START THEME LABEL SCRIPT -->
        <script src="assets/dist/js/theme.js"></script>
	</body>
	
</html>