<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <base href="http://localhost:8080/listPromDet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Liste promotion - Administration Equivalence FOP(67Ha)</title>
    <link rel="shortcut icon" href="assets/dist/img/favicon.png'" type="image/x-icon">

    <script>
        WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
    </script>
    <!-- START GLOBAL MANDATORY STYLE -->
    <link href="assets/dist/css/base.css" rel="stylesheet" type="text/css">

    <!-- START PAGE LABEL PLUGINS -->
    <link href="assets/plugins/datatables/dataTables.min.css" rel="stylesheet" type="text/css">

    <!-- START PAGE LABEL PLUGINS -->
    <link href="assets/plugins/jquery.sumoselect/sumoselect.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- START PAGE LABEL PLUGINS -->
    <link href="assets/plugins/modals/modal-component.css" rel="stylesheet" type="text/css" />

    <!-- START THEME LAYOUT STYLE -->
    <link href="assets/dist/css/style.css" rel="stylesheet" type="text/css" />
    <title>Liste des promotions</title>
</head>

<body class="hold-transition fixed sidebar-mini">

    <!-- Preloader -->
   <!-- <div class="preloader"></div> --> 

    <!-- Site wrapper -->
    <!-- Content Wrapper. Contains page content -->
    <div th:replace="fragments/header :: header">Static header</div>
    <div class="content-wrapper">
        <div class="content">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="header-icon">
                    <i class="pe-7s-box1"></i>
                </div>
                <div class="header-title">
                    <h1>Liste des promotions de chaque &eacute;cole par session</h1>
                    <small></small>
                    <ol class="breadcrumb">
                        <li><a href="/homePage"><i class="pe-7s-home"></i> Accueil </a></li>
                        <li><a href="/listProm">ListePromotion</a></li>
                        <li class="active">liste des admis</li>
                    </ol>
                </div>
            </div> <!-- /. Content Header (Page header) -->
            <div class="row">
                <div class="col-sm-7">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Formulaire d'insertion d'un &eacute;tudiant :</h4>
                            </div>
                        </div>
                        <div class="panel-body"> 
                            <form th:action="'/importExcel/' + ${listePromotion.id}" th:method="GET" id="fileForm"
                                class="fileForm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="filename">Importer une liste admis (<span class="text-success">format
                                                    Excel</span>)</label>
                                            <input type="file" class="form-control-file" id="filename" th:name="'filename'"
                                                th:onchange="|validImport()|">
                                            <small id="fileHelpTel" class="text-muted ">Le fichier Excel doit pr&eacute;sent&eacute; les colonnes suivantes: 
                                            	<br/><b>N° Matricule | Nom complet | Date et lieu naissance | Mention</b></small>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div th:if="${errorImport!=null}">
                                            <div class="alert alert-sm alert-danger alert-dismissible" role="alert"><i
                                                    class="fa fa-warning"></i><span th:text="${errorImport}"></span></div>
                                        </div>
                                        <div th:if="${successImport!=null}">
                                            <div class="alert alert-sm alert-success alert-dismissible" role="alert"><i
                                                    class="fa fa-check-circle"></i><span th:text="${successImport}"></span></div>
                                        </div>
                                        <div th:if="${newCIN!=null}">
                                            <div class="alert alert-sm alert-success alert-dismissible" role="alert"> <span>Une Carte d'identit&eacute; temporaire vient d'&ecirc;tre cr&eacute;&eacute;!(<b><a th:href="'/cin/show/'+${newCIN}" th:text="'N° '+${newCIN}"></a></b>)</span></div>
                                        </div>
                                        <div th:if="${checking==1}">
                                        	<div class="alert alert-sm alert-warning alert-dismissible" role="alert">
	                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                                            <i class="fa fa-exclamation-circle"></i><strong>Erreur : </strong>Erreur : Il y a une répétition de donnée !!! (soit cette personne est déjà dans la liste soit le numéro matricule existe déjà) 
                                        	</div>
                                        </div>
                                        
                                        <b><label class="text-muted" id="output"></label></b>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <form th:object="${listePromotionDetailForm}" th:action="'/saveAdmis/' + ${listePromotion.id}"
                                method="POST" class="f1">
                                <div th:if="${#fields.hasErrors('*')}" class="alert alert-sm alert-danger alert-dismissible"
                                    role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <i class="fa fa-exclamation-circle"></i><strong th:text="#{form.hasErrors}">Error
                                        Message!!!</strong>
                                </div>
                                <div class="form-group row">
                                    <label for="numeroMatricule" class="col-sm-3 col-form-label">N° Matricule</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <input class="form-control" th:field="*{numeroMatricule}" type="text"
                                            placeholder="Numéro d'Enregistrement . . ." id="numeroMatricule" required>
                                    </div>
                                </div>
                                <!-- CHECKING CIN -->
                         		<div class="form-group row">
                           			<div class="col-lg-12 col-lg-offset-3">
                           			 	<input  type="checkbox" id="hasCIN" th:onclick="|cocher()|"><small id="fileHelpTel" class="text-muted ">Cocher ici si vous voulez <b>joindre une carte d'identit&eacute;</b></small>
                          	 	    </div>
                               	</div> 
                          	 	<!-- END --> 
                                
                                <!-- HIDDEN FIELD -->
                                <div id="delete" hidden="true" class="form-group row"> 
                                     <label class="col-sm-3 col-form-label">S&eacute;lectionner votre CIN</label>
                                     <div class="col-lg-6 col-md-9 col-sm-12">
                                     	<div class="input-group">
                                     	   <input type="text" id="cinHidden" th:name="'idCin'" hidden>
                                           <input type="text" class="form-control" id="cinChamp" autocomplete="off" placeholder="Carte d'identité..." data-toggle="modal" data-target="#searchCINModal">
                                           <span class="input-group-btn">
                                               <button class="btn btn-default" type="button" data-toggle="modal" data-target="#searchCINModal">Choisir</button>
                                           </span>
                                           
                                       	</div><!-- /input-group -->
                                     </div><small id="fileHelpTel" class="text-muted ">Si cette personne est déjà inscrit dans une liste, vous pouvez joindre son CIN ici.</small>   
                                </div>
								<!-- END -->
								<div id="delete2"> 
									<div class="form-group row">
	                                    <label for="nomComplet" class="col-sm-3 col-form-label">Nom et pr&egrave;nom</label>
	                                    <div class="col-lg-6 col-md-9 col-sm-12">
	                                        <input class="form-control" th:field="*{nomComplet}" type="text" placeholder="Nom complet . . ." id="nomComplet" > 
	                                    </div>
	                                </div>
	                                <div class="form-group row">
	                                    <label for="dateNaissance" class="col-sm-3 col-form-label">Date et lieu de
	                                        naissance</label>
	                                    <div class="col-lg-3  ">
	                                        <input class="form-control" th:field="*{dateNaissance}" type="date" placeholder="date naissance . . ."
	                                            id="dateNaissance" >
	                                    </div>
	                                    <div class="col-sm-1 ">
	                                        <label for="lieuNaissance" class="col-form-label"> &agrave; </label>
	                                    </div>
	                                    <div class="col-lg-3  ">
	                                        <input class="form-control" th:field="*{lieuNaissance}" type="text" placeholder="lieu Naissance . . ."
	                                            id="lieuNaissance" >
	                                    </div>
	                                </div>
                                 	<div class="form-group row">
                                    <label for="numeroMatricule" class="col-sm-3 col-form-label">Adresse postale</label>
	                                    <div class="col-lg-6 col-md-9 col-sm-12">
	                                        <input class="form-control" th:name="'adresseActuelle'" type="text"
	                                            placeholder="Votre adresse actuelle . . ." id="adresseActuelle" >
	                                    </div>
                                	</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Mention</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <select class="form-control " th:field="*{mention}">
                                            <div th:each="mention : ${mentions}">
                                                <option th:value="${mention}" th:text="${mention}"></option>
                                            </div>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-base pull-right">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4></h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>ETABLISSEMENT :</th>
                                            <td th:text="${listePromotion.listesDiplome.ecole}"></td>
                                        </tr>
                                        <tr>
                                            <th>Fili&egrave;re : </th>
                                            <td th:text="${listePromotion.listesDiplome.filiere}"></td>
                                        </tr>
                                        <tr>
                                            <th>Option : </th>
                                            <td th:text="${listePromotion.listesDiplome.option}"></td>
                                        </tr>
                                        <tr>
                                            <th>Niveaux : </th>
                                            <td th:text="${listePromotion.listesDiplome.niveauDiplome.niveau}"></td>
                                        </tr>
                                        <tr>
                                            <th>Nom promotion : </th>
                                            <td th:text="${listePromotion.nomPromotion}"></td>
                                        </tr>
                                        <tr>
                                            <th>Session : </th>
                                            <td th:text="${listePromotion.sessionSortie}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-1">
                    <button class="btn btn-base btn-sm" data-toggle="modal" data-target="#modifierPromo">Modifier</button>
                </div>

                <div class="col-sm-9">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Liste des ADMIS en <span class="text-primary" th:text="${listePromotion.listesDiplome.filiere}"></span></h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div th:if="${not #lists.isEmpty(listePromotionDetails)}">
                                <div class="table-responsive">
                                    <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                            	<th class="text-center">Sélection</th>
                                                <th class="text-center">#</th>
                                                <th class="text-center">N° d'Enregistrement</th>
                                                <th class="text-center">Nom et pr&egrave;nom</th>
                                                <th class="text-center">Date et lieu de naissance</th>
                                                <th class="text-center">Mention</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="promo : ${listePromotionDetails}">
                                           		<td>
                                                    <div class="checkbox checkbox-success">
                                                        <input th:id="'checkbox'+${promo.id}" type="checkbox" th:name="'checkbox'">
                                                        <label th:for="'checkbox'+${promo.id}"></label>
                                                    </div>
                                                </td>
                                                <td class="text-center" th:text="${promo.id}"></td>
                                                <td class="text-center"><a th:href="'/showAdmis/' + ${promo.id}" th:text="${promo.numeroMatricule}"></a></td>
                                                <td class="text-center"><a th:href="'/showAdmis/' + ${promo.id}" th:text="${promo.nomComplet}"></a></td> 
                                                <td class="text-center"><a th:href="'/showAdmis/' + ${promo.id}" th:text="${#dates.format(promo.cin.dateNaissance, 'dd-MM-yyyy')} + ' à ' + ${promo.cin.lieuNaissance}"></a></td>
                                                <td class="text-center"><a th:href="'/showAdmis/' + ${promo.id}" th:text="${promo.mention}"></a></td>
                                                <td class="text-center"><button class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Supprimer" aria-hidden="true" th:onclick="|goToDelete('${promo.id}')|"><i class="fa fa-trash" ></i></button></td>
											</tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
              	<div class="col-sm-2">
	                <a href="/listProm" class="btn btn-labeled btn-primary w-md m-rb-5">
	                    <span class="btn-label"><i class="fa fa-reply"></i></span>Revenir
	                </a>
	            </div>
            </div>
       	 </div>
        
         <!-- MODALS DIALOG -->
         <div class="modal fade" id="modifierPromo" tabindex="-1" role="dialog">
             <div class="modal-dialog" role="document">
                 <div class="modal-content">
                     <form th:object="${listePromotionForm}" th:action="@{/savePromo}" method="POST">
                      
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h1 class="modal-title">Modification d'une promotion </h1>
                      </div>

                         <div th:if="${#fields.hasErrors('*')}" class="alert alert-sm alert-danger alert-dismissible" role="alert">
                             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                             <i class="fa fa-exclamation-circle"></i><strong th:text="#{form.hasErrors}">Error Message!!!</strong>
                         </div>

                       <div class="modal-body">
                           <!-- <div class="form-group row">
                               <label for="example-text-input" class="col-sm-3 col-form-label">ID :</label>
                               <div class="col-sm-8">
                                   <input class="form-control" type="text" th:field="*{id}" disabled>
                               </div>
                           </div>-->
                           <div class="form-group row">
                               <div th:if="${not #lists.isEmpty(listeDiploma)}">
                                   <label class="col-sm-3 col-form-label">Veuillez selectionner un dipl&ocirc;me </label>
                                   <div class="col-sm-8">
                                       <select class="form-control" th:field="*{listesDiplome}" th:name="'listeDiplome'">
                                           <optgroup th:label="'Ecole délivreur ' + ${ecole} + ' : '">
                                               <div th:each="diplome : ${listeDiploma}">
                                                   <div th:if="${ecole == diplome.ecole}">
                                                       <option th:value="${diplome.id}" th:text="${diplome.niveauDiplome.niveau} + ' EN ' + ${diplome.filiere} + ' option:' + ${diplome.option} "></option>
                                                   </div>
                                               </div>
                                           </optgroup>
                                       </select>
                                   </div> 
                                </div>
                           </div>
                           
                           <div class="form-group row">
                             <label class="col-sm-3 col-form-label">Session </label>
                             <div class="col-sm-8">
                                 <select class="form-control " th:field="*{sessionSortie}">
                                     <option disabled="disabled" selected="selected" th:value="${#calendars.format(#calendars.createNow(), 'yyyy')}" th:text="'Session le'"></option>
                                     <!--placeholder-->
                                     <div th:each="annee : ${annees}">
                                         <option th:value="${annee}" th:text="${annee}"></option>
                                     </div>
                                 </select>
                             </div>
                         </div>
                        	 <div class="form-group row">
	                             <label for="example-text-input" class="col-sm-3 col-form-label">Nom de la promotion :</label>
	                             <div class="col-sm-8">
	                                 <input class="form-control" type="text" th:field="*{nomPromotion}" required>
	                             </div>
                         	</div>
                       </div>
                  	   <div class="modal-footer">
                       		<button type="submit" class="btn btn-base">Ok</button>
                       		<button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                   	   </div>
                   </form> 
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
         <!-- MODALS DIALOG -->
                <div class="modal fade" id="searchCINModal" tabindex="-1" role="dialog">	
	                <div class="modal-dialog" role="document">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
	                                    aria-hidden="true">&times;</span></button>
	                            <h1 class="modal-title">Rechercher Carte d'identit&eacute; </h1>
	                        </div>
	                        <!-- <form th:action="@{/searchCIN}" method="GET"> -->
	                        <ul class="nav nav-tabs tabs-top">
	                        	<li><a href="#searchCIN1" data-toggle="tab"><i class="fa fa-search"></i> Recherche simple</a></li>
	                        	<li><a href="#searchCIN2" data-toggle="tab"><i class="fa fa-search-plus"></i> Recherche Avanc&eacute;e</a></li>
		                    </ul>   
	                            <div class="modal-body  tab-content">   
	                                <div class="tab-pane fade in active" id="searchCIN1">
		                                <div class="form-group row">
		                                    <div class="col-sm-12">
		                                    	<div class="col-md-3">
		                                    		<label for="example-text-input" class=" col-form-label">Champ de recherche :</label>
		                                    	</div>
		                                    	<div class="col-md-6" >
		                                        	<input class="form-control" id="cin" type="text" placeholder="Rechercher d'une CIN ...">
		                                        </div>
		                                        <div class="col-md-3">
		                                        	<button class="btn btn-base " th:onclick="|searchCIN()|" > RECHERCHE</button>
		                                    	</div>
		                                    </div>
	                                    </div>
                                    </div>
                                  	<div class="tab-pane fade" id="searchCIN2">
	                                  	<div class="form-group row">  
		                                    <div class="col-sm-12">
		                                    	<h5>Recherche par crit&egrave;re :</h5> 
		                                        <div class="form-group row">
				                                    <label for="nom" class="col-md-2 col-form-label">Nom </label>
				                                    <div class="col-md-4">
				                                        <input class="form-control" type="text" th:name="'nom'" placeholder=" " id="nom">
				                                    </div>
				                                    <label for="prenom" class="col-md-2 col-form-label">Pr&egrave;nom </label>
				                                    <div class="col-md-4 ">
				                                        <input class="form-control" type="text" th:name="'prenom'" placeholder=" " id="prenom">
				                                    </div>
				                                </div> 
				                                <div class="form-group row">
				                                    <label for="numeroCIN" class="col-sm-2 col-form-label">N° carte d'identtit&eacute; </label>
				                                    <div class="col-md-6 col-md-offset-1">
				                                        <input class="form-control" type="number" th:name="'numeroCIN'" placeholder=" " id="numeroCIN" aria-describedby="fileHelpCIN">
				                                    	<small id="fileHelpCIN" class="text-muted ">ex: 117 225 123 000</small>
		                                    		</div>
				                                </div>
				                                <div class="form-group row">
				                                    <label for="adresseActuelle" class="col-sm-2 col-form-label">Adresse postale </label>
				                                    <div class="col-md-6 col-md-offset-1">
				                                        <input class="form-control" type="text" th:name="'adresseActuelle'" placeholder=" " id="adresseActuelle">
				                                    </div>
				                                </div> 
				                                <div class="form-group row">
				                                    <label for="fonction" class="col-md-2 col-form-label">Fonction et lieu de travail </label>
				                                    <div class="col-md-4">
				                                        <input class="form-control" type="text" th:name="'fonction'" placeholder=" " id="fonction">
				                                    </div>
				                                    <label for="lieuTravail" class="col-md-2 col-form-label"> chez </label>
				                                    <div class="col-md-4 ">
				                                        <input class="form-control" type="text" th:name="'lieuTravail'" placeholder=" " id="lieuTravail">
				                                    </div>
				                                </div> 
		                                        <div class="col-md-6 col-md-offset-5">
		                                        	<button class="btn btn-base " th:onclick="|searchCritereCIN()|" >RECHERCHE</button>
		                                    	</div>
		                                    </div>
	                                    </div>
                                    </div>
                                    <div class="form-group row">
	                                    <div class="skin-flat">
	                                    	<div id="outputCIN" class="row"></div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="modal-footer">
	                                <button  class="btn btn-base" data-dismiss="modal" >Ok</button>
	                                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
	                            </div>
	                        <!-- </form> -->
	                    </div><!-- /.modal-content -->
	                </div><!-- /.modal-dialog -->
	            </div><!-- /.modal -->
    </div> <!-- /.main content -->
    <div th:replace="fragments/footer :: footer">&copy; 2018 The Static Templates</div>

    <!-- ./²wrapper -->
    <!-- START CORE PLUGINS -->
    <script>
    	function cocher(){
    		$("#hasCIN").change(function() { 
    	  		$("#delete").attr("hidden", !this.checked);
    	  		$("#delete2").attr("hidden", this.checked);
    		});
    	}
    
	    function searchCritereCIN() { 
			$.ajax({
				  method: "GET",
				  url: "http://localhost:8080/searchCritereCIN",
				  data: { 
					  	nomCIN: $("#nom").val(),
					  	prenom: $("#prenom").val(), 
					  	numeroCIN: $("#numeroCIN").val() ,
					  	adresseActuelle: $("#adresseActuelle").val(), 
					  	fonction: $("#fonction").val(),
					  	lieuTravail: $("#lieuTravail").val()  
					  	}
				}).done(function( msg ) {
					//var obj = JSON.parse(msg); 
					
					$('#outputCIN').html(getHtml(msg,"setIdCIN")); 
					
					 console.log( "Data Saved: " + msg);
					//$("#outputCIN").html(msg);
				   
		  		});
		}
		
		function searchCIN() {
			$.ajax({
				  method: "GET",
				  url: "http://localhost:8080/searchCIN",
				  data: { champ: $("#cin").val() }
				}).done(function( msg ) {
					//var obj = JSON.parse(msg); 
					
					$('#outputCIN').html(getHtml(msg,"setIdCIN")); 
					
					 console.log( "Data Saved: " + msg[0].tagName );
					//$("#outputCIN").html(msg);
				   
		  		});
		}
		function setIdCIN(id, name){ 
			 $('#cinChamp').val(name); 
			 $('#cinHidden').val(id);
			// cinChamp.setAttribute("name", "cin");
		}
		function getHtml(msg, fonction){
			var html = "<div class=\"col-md-10\"><h4>Resultat(s) du recherche : <b class=\"text-primary\" >" + msg.length + " </b></h4>";
			//console.log("size = " + msg.length);
			html+="<div class=\"col-md-1\"></div><div class=\"col-md-11\"> ";
			var i = 0; 
			while (i < msg.length){
				html+="<div class=\"i-check\"><input tabindex=\""+i+"\" "+
					  "type=\"radio\" id=\"flat-radio-"+i+"\" name=\"selectRadio\" onclick=\""+fonction+"("+ msg[i].id + ",'" + msg[i].tagName + "')\" value=\""+msg[i].id+"\">"+
					  "  <label for=\"flat-radio-"+i+"\"> " + msg[i].tagName + " </label></div>";
				i++;
			}
			html+="</div><div class=\"col-md-2\"></div></div>";
			return html;
		}
		
        //My Methods
        function goToDelete(id) {
            var txt;
            var r = confirm("Cette action est irreversible! Etes-vous vraiment sûr vouloir supprimer l'étudiant N° " +
                id + " ?");
            if (r == true) {
                window.location.href = "/admis/delete/" + id;
            }
        }

        function validImport() {
            var filename = $("#filename").val();
            var action = $("#fileForm").attr("action");

            if ($("#filename").val() != null) {
                $("#output").text("En cours d'exportion !!!").show();
                $("#output").fadeOut(2000);
                setTimeout(function () {
                    $("#fileForm").submit();
                }, 2000);
            }
        }
    </script>
    <script src="assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
    <script src="assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="assets/plugins/fastclick/fastclick.min.js"></script>
    <script src="assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="assets/plugins/lobipanel/lobipanel.min.js"></script>
    <!-- DataTable Js -->
    <script src="assets/plugins/datatables/dataTables.min.js"></script>
    <script src="assets/plugins/datatables/dataTables-active.js"></script>
    <!-- Footable Js -->
    <script src="assets/plugins/footable-bootstrap/js/footable.all.min.js"></script>
    <script src="assets/plugins/footable-bootstrap/js/footable-active.js"></script>

    <!-- Select2 Js -->
    <script src="assets/plugins/select2/select2.min.js"></script>
    <script src="assets/plugins/select2/select2-active.js"></script>

    <!-- modals js -->
    <script src="assets/plugins/modals/classie.js"></script>
    <script src="assets/plugins/modals/modalEffects.js"></script>

    <!-- START THEME LABEL SCRIPT -->
    <script src="assets/dist/js/theme.js"></script>
</body>

</html>